openapi: 3.1.0
info:
  title: Advantage API
  version: 0.1.0
  summary: The route handlers under src/app/api, as the dashboard calls them.
  description: |
    Every path here is a Next.js route handler in `src/app/api/`. The handler
    code is the source of truth: each status code below is one the handler, or
    the module it delegates to, returns as a literal.

    **Authentication.** Signed-in routes read the Supabase session from its
    cookie (`cookieAuth`) through `createClient()`; there is no bearer token.
    `/api/programs/search` is the only public route in this file.

    **Same origin.** Every mutation under `/api/matches/{matchId}/video`
    also requires a request from a page this deployment served
    (`checkSameOrigin`): a cross-site `Sec-Fetch-Site`, a missing `Origin`, or
    an `Origin` that is neither the request's own nor the configured site URL
    is refused with `403 cross_origin` before anything else runs. Those
    routes also require `Content-Type: application/json` and cap the body at
    4096 bytes (`413 request_too_large`).

    **Errors.** Three envelopes, by route family:

    - the video routes answer `ErrorResponse` with a stable `code` (see
      `MatchVideoErrorCode` in `src/lib/match-video/types.ts` and the
      transport codes in `src/lib/services/match-video/http.ts`) and send
      `Cache-Control: private, no-store` on every answer;
    - `/api/matches/{matchId}` answers `ErrorResponse` with `error` only, plus
      `field` on a validation refusal;
    - `/api/upload` and `/api/validate-file` answer `{ success: false, error }`.
servers:
  - url: https://app.advantage-analytics.com
    description: Production
  - url: https://www.advantage-analytics.dev
    description: Staging (splitstep-integration)
  - url: http://localhost:3000
    description: Local dev server
security:
  - cookieAuth: []
tags:
  - name: Matches
    description: The Edit Match dialog's read, write and delete.
  - name: Match video
    description: >-
      SwingVision video attachment — playback, reservation, upload
      completion, alignment, removal and view counting. Decision modules
      live in `src/lib/services/match-video/`.
  - name: Uploads
    description: The match wizard's SwingVision .xlsx validation and upload.
  - name: Programs
    description: Program directory typeaheads for the claim and setup flows.
paths:
  /api/matches/{matchId}:
    parameters:
      - $ref: "#/components/parameters/MatchId"
    get:
      tags: [Matches]
      operationId: getMatch
      summary: Read a match for the Edit Match dialog
      description: >-
        The caller's own match (`created_by` is the session user), with the
        latest analysis status, the event line it is filed under, and whether
        this viewer may attach it to a line. A malformed id, a missing match
        and someone else's match all answer 404.
      responses:
        "200":
          description: The match and the context the dialog lays itself out from.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MatchDetailResponse"
              examples:
                personalMatch:
                  summary: A hand-scored personal match
                  value:
                    match:
                      id: 5b0f4c1e-8a7d-4b43-9f7e-1c2d3e4f5a6b
                      tournament_name: Spring Open
                      round: R16
                      date: "2026-09-12T12:00:00"
                      match_type: tournament
                      court_type: hard
                      player1_id: 0e9a2b7c-4d1f-4a8e-9b3c-2f1e0d9c8b7a
                      player1_name: Alex Rivera
                      player2_name: Sam Chen
                      score:
                        player1: [6, 4, 6]
                        player2: [3, 6, 2]
                        winner: player1
                      private: true
                      format:
                        best_of: 3
                        ad_scoring: true
                      duration: null
                      player_hand: right
                      player_backhand: two-handed
                      opponent_hand: left
                      opponent_backhand: one-handed
                      program_id: null
                      event_entry_id: null
                      source_provider: null
                    analysis: null
                    event: null
                    canAttach: false
        "401":
          $ref: "#/components/responses/PlainUnauthorized"
        "404":
          $ref: "#/components/responses/PlainNotFound"
        "500":
          description: The match or its analysis status could not be read.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: Could not load the match
    patch:
      tags: [Matches]
      operationId: updateMatch
      summary: Edit a match
      description: >-
        Partial update of the caller's own match. The rules live in
        `normalizeMatchPatch` (`src/lib/matches/patch-match.ts`): a match on a
        scheduled event line refuses the event-owned fields, an analysed match
        keeps its format fixed, and a team match's player must come from the
        program roster (the saved name is the roster's, never the client's).
        `private` is forced to `true` on every save during the beta.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MatchPatchRequest"
            examples:
              rename:
                summary: Correct the opponent and the score
                value:
                  player2_name: Sam Chen
                  score:
                    player1: [6, 4, 7]
                    player2: [3, 6, 6]
                    player1_tiebreaks: [null, null, 7]
                    player2_tiebreaks: [null, null, 4]
      responses:
        "200":
          description: The saved row.
          content:
            application/json:
              schema:
                type: object
                required: [match]
                properties:
                  match:
                    $ref: "#/components/schemas/Match"
              example:
                match:
                  id: 5b0f4c1e-8a7d-4b43-9f7e-1c2d3e4f5a6b
                  tournament_name: Spring Open
                  round: R16
                  date: "2026-09-12T12:00:00"
                  match_type: tournament
                  court_type: hard
                  player1_id: 0e9a2b7c-4d1f-4a8e-9b3c-2f1e0d9c8b7a
                  player1_name: Alex Rivera
                  player2_name: Sam Chen
                  score:
                    player1: [6, 4, 7]
                    player2: [3, 6, 6]
                    player1_tiebreaks: [null, null, 7]
                    player2_tiebreaks: [null, null, 4]
                    winner: player1
                  private: true
                  format:
                    best_of: 3
                  duration: null
                  player_hand: right
                  player_backhand: two-handed
                  opponent_hand: null
                  opponent_backhand: null
                  program_id: null
                  event_entry_id: null
                  source_provider: null
        "400":
          description: >-
            The body is not a JSON object, or a field is refused. A field
            refusal names the field so the dialog can mark it.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FieldErrorResponse"
              examples:
                invalidJson:
                  summary: Body is not a JSON object
                  value:
                    error: Invalid JSON body
                eventOwned:
                  summary: An event-owned field on a scheduled match
                  value:
                    error: This match is on a scheduled event, so that comes from the event. Change it in Schedule.
                    field: date
                offRoster:
                  summary: A player who is not on the program roster
                  value:
                    error: Choose a player on this team's roster.
                    field: player1_id
                empty:
                  summary: No editable field in the body
                  value:
                    error: Nothing to save.
        "401":
          $ref: "#/components/responses/PlainUnauthorized"
        "404":
          $ref: "#/components/responses/PlainNotFound"
        "500":
          description: The match, its analysis status or the roster could not be read, or the save failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                load:
                  value:
                    error: Could not load the match
                roster:
                  value:
                    error: Could not load the roster
                save:
                  value:
                    error: Could not save the match
    delete:
      tags: [Matches]
      operationId: deleteMatch
      summary: Delete a match and its stored files
      description: >-
        Purges the match's storage first (`purgeMatchStorage`), then deletes
        the row. A match recorded or analysed through the admin console is
        refused with 409; a purge that cannot run is a retryable 503.
      responses:
        "200":
          description: The match is gone.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OkResponse"
              example:
                ok: true
        "401":
          $ref: "#/components/responses/PlainUnauthorized"
        "404":
          $ref: "#/components/responses/PlainNotFound"
        "409":
          description: The admin console's purge guard protects this match.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: Matches recorded or analyzed through the admin console cannot be deleted here.
        "500":
          description: The match could not be read, or the row delete failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                load:
                  value:
                    error: Could not load the match
                delete:
                  value:
                    error: Could not delete the match
        "503":
          description: The storage purge could not run. Nothing was deleted; retry.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: Match deletion is unavailable. Try again.

  /api/matches/{matchId}/ball-paths:
    parameters:
      - $ref: "#/components/parameters/MatchId"
    get:
      tags: [Match video]
      operationId: getBallPaths
      summary: Read the derived ball paths for a match
      description: >-
        For anyone who can see the match (RLS visibility, not ownership). The
        stored file is returned verbatim; a match with no file answers 200 with
        `{"version":1,"strokes":[]}`, never 404.
      responses:
        "200":
          description: The ball-paths file, or the empty file.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivate"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BallPathsFile"
              examples:
                withStrokes:
                  summary: A derived file
                  value:
                    version: 1
                    strokes:
                      - contactTime: 12.48
                        bounceTime: 13.02
                        path:
                          - [12.48, 1.2, -10.9, 0.95]
                          - [12.58, 1.4, -6.1, 1.62]
                          - [13.02, 2.1, 4.3, 0]
                empty:
                  summary: No file for this match
                  value:
                    version: 1
                    strokes: []
        "401":
          $ref: "#/components/responses/VideoUnauthenticated"
        "404":
          $ref: "#/components/responses/VideoMatchNotFound"
        "500":
          $ref: "#/components/responses/VideoInternalError"
        "503":
          $ref: "#/components/responses/VideoStorageUnavailable"

  /api/matches/{matchId}/video:
    parameters:
      - $ref: "#/components/parameters/MatchId"
    get:
      tags: [Match video]
      operationId: getMatchVideo
      summary: Read playback metadata and a fresh read-only URL
      description: >-
        For anyone who can see the match. Also the credential-refresh
        endpoint: re-fetch as `playbackExpiresAt` nears and compare `id` and
        `version` — a different `id` is a replacement, a higher `version` an
        alignment correction. A match with no video answers
        `{"attachment": null}`. No same-origin check: a browser sends no
        `Origin` on a same-origin GET, and the route sets no CORS headers.
      responses:
        "200":
          description: The active attachment, or null.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivate"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaybackMetadataResult"
              examples:
                active:
                  summary: A match with a video
                  value:
                    attachment:
                      id: 7c1d2e3f-4a5b-4c6d-8e7f-9a0b1c2d3e4f
                      version: 2
                      offsetSeconds: -41.25
                      confirmedVideoTimeSeconds: 63.5
                      durationSeconds: 5421.04
                      contentType: video/mp4
                      filename: spring-open-r16.mp4
                      playbackUrl: https://example.blob.core.windows.net/match-videos/final/7c1d2e3f.mp4?sv=2025-01-05&sp=r&sig=REDACTED
                      playbackExpiresAt: "2026-09-29T15:30:00.000Z"
                none:
                  summary: A match with no video
                  value:
                    attachment: null
        "401":
          $ref: "#/components/responses/VideoUnauthenticated"
        "404":
          $ref: "#/components/responses/VideoMatchNotFound"
        "409":
          description: >-
            The active row's published object is missing. Not retryable, and
            not "no video" — the row is still active.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivate"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoErrorResponse"
              examples:
                stale:
                  $ref: "#/components/examples/StaleAttachment"
        "500":
          $ref: "#/components/responses/VideoInternalError"
        "503":
          $ref: "#/components/responses/VideoStorageUnavailable"
    delete:
      tags: [Match video]
      operationId: removeMatchVideo
      summary: Remove the active video
      description: >-
        Retires the attachment (`retired_reason = 'removed'`) and schedules a
        best-effort blob cleanup after the response. Allowed for the video's
        uploader, or an owner or coach of the match's program. Idempotent: a
        repeat answers 200 with the row as it stands.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RemoveAttachmentRequest"
            example:
              attachmentId: 7c1d2e3f-4a5b-4c6d-8e7f-9a0b1c2d3e4f
      responses:
        "200":
          description: The attachment is retired.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivate"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RemoveAttachmentResult"
              example:
                attachmentId: 7c1d2e3f-4a5b-4c6d-8e7f-9a0b1c2d3e4f
                state: retired
                retiredReason: removed
        "400":
          $ref: "#/components/responses/VideoInvalidRequest"
        "401":
          $ref: "#/components/responses/VideoUnauthenticated"
        "403":
          description: >-
            Cross-origin request, or the caller neither uploaded this video nor
            is an owner or coach of the match's program.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivate"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoErrorResponse"
              examples:
                crossOrigin:
                  $ref: "#/components/examples/CrossOrigin"
                notUploaderOrLead:
                  summary: Not the uploader, owner or coach
                  value:
                    error: Only the person who uploaded this video, or a team owner or coach, can remove it.
                    code: forbidden
                    detail: not_uploader_or_program_lead
        "404":
          description: >-
            The match is not visible to the caller, or no attachment with this
            id is filed under it.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivate"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoErrorResponse"
              examples:
                match:
                  $ref: "#/components/examples/MatchNotFound"
                attachment:
                  summary: Attachment not on this match
                  value:
                    error: This match is not available.
                    code: match_not_found
                    detail: no_such_attachment
        "409":
          description: The attachment is not in a state removal accepts.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivate"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoErrorResponse"
              examples:
                modeConflict:
                  $ref: "#/components/examples/ModeConflict"
        "413":
          $ref: "#/components/responses/VideoRequestTooLarge"
        "500":
          $ref: "#/components/responses/VideoInternalError"
        "503":
          $ref: "#/components/responses/VideoStorageUnavailable"

  /api/matches/{matchId}/video/alignment:
    parameters:
      - $ref: "#/components/parameters/MatchId"
    patch:
      tags: [Match video]
      operationId: updateMatchVideoAlignment
      summary: Correct the saved source-to-video offset
      description: >-
        Recomputes the offset of the active attachment from a confirmed video
        time; no bytes move. Creator only, SwingVision matches only, in the
        match's own workspace. A no-op correction does not bump `version`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAlignmentRequest"
            examples:
              seconds:
                summary: Seconds as a number
                value:
                  attachmentId: 7c1d2e3f-4a5b-4c6d-8e7f-9a0b1c2d3e4f
                  expectedVersion: 2
                  confirmedVideoTimeSeconds: 64.25
              clock:
                summary: hh:mm:ss.sss as a string
                value:
                  attachmentId: 7c1d2e3f-4a5b-4c6d-8e7f-9a0b1c2d3e4f
                  expectedVersion: 2
                  confirmedVideoTimeSeconds: "00:01:04.250"
      responses:
        "200":
          description: The attachment after the correction.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivate"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateAlignmentResult"
              example:
                attachment:
                  id: 7c1d2e3f-4a5b-4c6d-8e7f-9a0b1c2d3e4f
                  version: 3
                  offsetSeconds: -42
                  confirmedVideoTimeSeconds: 64.25
                  durationSeconds: 5421.04
                  contentType: video/mp4
                  filename: spring-open-r16.mp4
        "400":
          $ref: "#/components/responses/VideoInvalidRequest"
        "401":
          $ref: "#/components/responses/VideoUnauthenticated"
        "403":
          $ref: "#/components/responses/VideoMutationForbidden"
        "404":
          $ref: "#/components/responses/VideoMatchNotFound"
        "409":
          description: The caller's view of the active attachment is stale.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivate"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoErrorResponse"
              examples:
                stale:
                  $ref: "#/components/examples/StaleAttachment"
                modeConflict:
                  $ref: "#/components/examples/ModeConflict"
        "413":
          $ref: "#/components/responses/VideoRequestTooLarge"
        "422":
          description: The confirmed time or the match's timing cannot produce a valid alignment.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivate"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoErrorResponse"
              examples:
                invalidAlignment:
                  $ref: "#/components/examples/InvalidAlignment"
                missingSourceTiming:
                  $ref: "#/components/examples/MissingSourceTiming"
                insufficientCoverage:
                  $ref: "#/components/examples/InsufficientCoverage"
                unsupportedMedia:
                  $ref: "#/components/examples/UnsupportedMedia"
        "500":
          $ref: "#/components/responses/VideoInternalError"
        "503":
          $ref: "#/components/responses/VideoStorageUnavailable"

  /api/matches/{matchId}/video/uploads:
    parameters:
      - $ref: "#/components/parameters/MatchId"
    post:
      tags: [Match video]
      operationId: reserveMatchVideoUpload
      summary: Reserve an upload attempt and get a write-only URL
      description: >-
        Creates (201) or finds again (200, same `clientRequestId`) a pending
        attempt and returns a write-only SAS URL for its staged key. Unknown
        body keys are refused by name. `expectedActive` must be present:
        `null` claims the match has no video, and an add is refused at the
        workspace's active-video limit.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReserveUploadRequest"
            examples:
              add:
                summary: First video on a match
                value:
                  filename: spring-open-r16.mp4
                  sizeBytes: 2147483648
                  contentType: video/mp4
                  clientRequestId: 3f2e1d0c-9b8a-4765-8432-10fedcba9876
                  expectedActive: null
              replace:
                summary: Replacing the active video
                value:
                  filename: spring-open-r16-full.mov
                  sizeBytes: 3221225472
                  contentType: video/quicktime
                  clientRequestId: 4a3b2c1d-0e9f-4876-9543-21fedcba9876
                  expectedActive:
                    id: 7c1d2e3f-4a5b-4c6d-8e7f-9a0b1c2d3e4f
                    version: 3
      responses:
        "200":
          description: An identical retry found the existing reservation.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivate"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadCredential"
              example:
                attachmentId: 9e8d7c6b-5a4f-4e3d-8c2b-1a0f9e8d7c6b
                uploadUrl: https://example.blob.core.windows.net/match-videos/staged/9e8d7c6b.mp4?sv=2025-01-05&sp=cw&sig=REDACTED
                uploadExpiresAt: "2026-09-29T20:00:00.000Z"
        "201":
          description: A new pending attempt was reserved.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivate"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadCredential"
              example:
                attachmentId: 9e8d7c6b-5a4f-4e3d-8c2b-1a0f9e8d7c6b
                uploadUrl: https://example.blob.core.windows.net/match-videos/staged/9e8d7c6b.mp4?sv=2025-01-05&sp=cw&sig=REDACTED
                uploadExpiresAt: "2026-09-29T20:00:00.000Z"
        "400":
          $ref: "#/components/responses/VideoInvalidRequest"
        "401":
          $ref: "#/components/responses/VideoUnauthenticated"
        "403":
          $ref: "#/components/responses/VideoMutationForbidden"
        "404":
          $ref: "#/components/responses/VideoMatchNotFound"
        "409":
          description: Another attempt, a replacement race, or the workspace limit.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivate"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoErrorResponse"
              examples:
                stale:
                  $ref: "#/components/examples/StaleAttachment"
                pendingAttempt:
                  $ref: "#/components/examples/PendingAttemptConflict"
                limitReached:
                  $ref: "#/components/examples/AttachmentLimitReached"
        "413":
          $ref: "#/components/responses/VideoFileTooLarge"
        "422":
          description: The file's extension is not an accepted container (.mp4, .mov, .m4v, .mkv, .webm).
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivate"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoErrorResponse"
              examples:
                unsupportedMedia:
                  $ref: "#/components/examples/UnsupportedMedia"
        "500":
          $ref: "#/components/responses/VideoInternalError"
        "503":
          $ref: "#/components/responses/VideoStorageUnavailable"

  /api/matches/{matchId}/video/uploads/{attachmentId}:
    parameters:
      - $ref: "#/components/parameters/MatchId"
      - $ref: "#/components/parameters/AttachmentId"
    delete:
      tags: [Match video]
      operationId: cancelMatchVideoUpload
      summary: Cancel a pending upload attempt
      description: >-
        Retires the caller's own pending attempt. Idempotent: an already
        retired attempt answers 200 again. The staged blob is collected later
        by the cleanup worker, never here. Send `Content-Type:
        application/json` with no body or `{}`.
      requestBody:
        $ref: "#/components/requestBodies/NoMetadata"
      responses:
        "200":
          description: The attempt is retired.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivate"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CancelUploadResult"
              example:
                attachmentId: 9e8d7c6b-5a4f-4e3d-8c2b-1a0f9e8d7c6b
                state: retired
        "400":
          $ref: "#/components/responses/VideoInvalidRequest"
        "401":
          $ref: "#/components/responses/VideoUnauthenticated"
        "403":
          $ref: "#/components/responses/VideoMutationForbidden"
        "404":
          $ref: "#/components/responses/VideoMatchNotFound"
        "409":
          $ref: "#/components/responses/VideoAttemptConflict"
        "413":
          $ref: "#/components/responses/VideoRequestTooLarge"
        "500":
          $ref: "#/components/responses/VideoInternalError"
        "503":
          $ref: "#/components/responses/VideoStorageUnavailable"

  /api/matches/{matchId}/video/uploads/{attachmentId}/renew:
    parameters:
      - $ref: "#/components/parameters/MatchId"
      - $ref: "#/components/parameters/AttachmentId"
    post:
      tags: [Match video]
      operationId: renewMatchVideoUpload
      summary: Extend a pending attempt's write window
      description: >-
        Re-signs the same staged key with a later expiry. Nothing about the
        attempt may change, so the body is absent or `{}`. Refused for an
        active or retired row, and while a completion holds the attempt.
      requestBody:
        $ref: "#/components/requestBodies/NoMetadata"
      responses:
        "200":
          description: A fresh write-only URL for the same staged key.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivate"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadCredential"
              example:
                attachmentId: 9e8d7c6b-5a4f-4e3d-8c2b-1a0f9e8d7c6b
                uploadUrl: https://example.blob.core.windows.net/match-videos/staged/9e8d7c6b.mp4?sv=2025-01-05&sp=cw&sig=REDACTED
                uploadExpiresAt: "2026-09-30T02:00:00.000Z"
        "400":
          $ref: "#/components/responses/VideoInvalidRequest"
        "401":
          $ref: "#/components/responses/VideoUnauthenticated"
        "403":
          $ref: "#/components/responses/VideoMutationForbidden"
        "404":
          $ref: "#/components/responses/VideoMatchNotFound"
        "409":
          $ref: "#/components/responses/VideoAttemptConflict"
        "413":
          $ref: "#/components/responses/VideoRequestTooLarge"
        "500":
          $ref: "#/components/responses/VideoInternalError"
        "503":
          $ref: "#/components/responses/VideoStorageUnavailable"

  /api/matches/{matchId}/video/uploads/{attachmentId}/complete:
    parameters:
      - $ref: "#/components/parameters/MatchId"
      - $ref: "#/components/parameters/AttachmentId"
    post:
      tags: [Match video]
      operationId: completeMatchVideoUpload
      summary: Verify, publish and activate an uploaded video
      description: >-
        Verifies the staged bytes, copies them to the immutable final key and
        makes the attempt the match's active video. The copy runs inside
        Azure: while it does, the answer is `202` with a `Retry-After` header
        and the client re-sends the SAME request after `retryAfterSeconds`.
        Each request holds a per-request finalization lease (90 s) and
        releases it before answering. A replay after a lost `200` answers
        `200` again while that attachment is still active.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompleteUploadRequest"
            example:
              confirmedVideoTimeSeconds: 63.5
              expectedActive: null
      responses:
        "200":
          description: The attachment is published and active.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivate"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompleteUploadCommitted"
              example:
                status: committed
                attachment:
                  id: 9e8d7c6b-5a4f-4e3d-8c2b-1a0f9e8d7c6b
                  version: 1
                  offsetSeconds: -41.25
                  confirmedVideoTimeSeconds: 63.5
                  durationSeconds: 5421.04
                  contentType: video/mp4
                  filename: spring-open-r16.mp4
        "202":
          description: >-
            The server-side copy is still running. Nothing failed; re-send the
            same request after `Retry-After` seconds.
          headers:
            Retry-After:
              $ref: "#/components/headers/RetryAfter"
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivate"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompleteUploadPending"
              example:
                status: pending
                attachmentId: 9e8d7c6b-5a4f-4e3d-8c2b-1a0f9e8d7c6b
                retryAfterSeconds: 2
        "400":
          $ref: "#/components/responses/VideoInvalidRequest"
        "401":
          $ref: "#/components/responses/VideoUnauthenticated"
        "403":
          $ref: "#/components/responses/VideoMutationForbidden"
        "404":
          $ref: "#/components/responses/VideoMatchNotFound"
        "409":
          description: >-
            The staged bytes or the active attachment changed, another request
            holds the lease, the attempt is no longer pending, or an add would
            exceed the workspace's video limit.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivate"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoErrorResponse"
              examples:
                stale:
                  $ref: "#/components/examples/StaleAttachment"
                pendingAttempt:
                  $ref: "#/components/examples/PendingAttemptConflict"
                modeConflict:
                  $ref: "#/components/examples/ModeConflict"
                limitReached:
                  $ref: "#/components/examples/AttachmentLimitReached"
        "413":
          $ref: "#/components/responses/VideoFileTooLarge"
        "422":
          description: The uploaded file cannot be played, or cannot be aligned to the match.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivate"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoErrorResponse"
              examples:
                unsupportedMedia:
                  $ref: "#/components/examples/UnsupportedMedia"
                mediaProbeBudget:
                  $ref: "#/components/examples/MediaProbeBudget"
                invalidAlignment:
                  $ref: "#/components/examples/InvalidAlignment"
                missingSourceTiming:
                  $ref: "#/components/examples/MissingSourceTiming"
                insufficientCoverage:
                  $ref: "#/components/examples/InsufficientCoverage"
        "500":
          $ref: "#/components/responses/VideoInternalError"
        "503":
          $ref: "#/components/responses/VideoStorageUnavailable"

  /api/matches/{matchId}/video/viewed:
    parameters:
      - $ref: "#/components/parameters/MatchId"
    post:
      tags: [Match video]
      operationId: recordMatchVideoView
      summary: Count a view of the active video
      description: >-
        Restarts the active video's retention clock. For anyone who can see
        the match. No body is read, so there is no 400 or 413. A match with no
        active video answers `{"view": null}` and nothing is written.
      responses:
        "200":
          description: The view was recorded, or there is no active video.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivate"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecordViewResult"
              examples:
                recorded:
                  summary: A view was counted
                  value:
                    view:
                      attachmentId: 7c1d2e3f-4a5b-4c6d-8e7f-9a0b1c2d3e4f
                      lastViewedAt: "2026-09-29T14:02:11.482Z"
                none:
                  summary: No active video
                  value:
                    view: null
        "401":
          $ref: "#/components/responses/VideoUnauthenticated"
        "403":
          $ref: "#/components/responses/VideoMutationForbidden"
        "404":
          $ref: "#/components/responses/VideoMatchNotFound"
        "500":
          $ref: "#/components/responses/VideoInternalError"
        "503":
          $ref: "#/components/responses/VideoStorageUnavailable"

  /api/upload:
    post:
      tags: [Uploads]
      operationId: uploadMatchFile
      summary: Upload a match's SwingVision .xlsx
      description: >-
        Stores the file for a match the caller created and, after the
        response, invokes the `process-match` edge function to extract points
        and shots. Once per match: a match that already has a file or points
        is refused with 409. Only import providers are accepted.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/UploadRequest"
            encoding:
              file:
                contentType: application/vnd.openxmlformats-officedocument.spreadsheetml.sheet
            example:
              matchId: 5b0f4c1e-8a7d-4b43-9f7e-1c2d3e4f5a6b
              providerId: swing-vision
              file: (binary)
      responses:
        "200":
          description: The file is stored; processing runs after the response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadResponse"
              example:
                success: true
                fileId: 1a2b3c4d-5e6f-4a7b-8c9d-0e1f2a3b4c5d
                storagePath: 0e9a2b7c-4d1f-4a8e-9b3c-2f1e0d9c8b7a/5b0f4c1e-8a7d-4b43-9f7e-1c2d3e4f5a6b/match.xlsx
        "400":
          description: A form field is missing, the provider is not an import provider, or the file fails the provider's checks.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LegacyErrorResponse"
              examples:
                noFile:
                  value:
                    success: false
                    error: No file provided
                noMatchId:
                  value:
                    success: false
                    error: No matchId provided
                noProviderId:
                  value:
                    success: false
                    error: No providerId provided
                unknownProvider:
                  value:
                    success: false
                    error: "Unsupported provider: atp-tour"
                notImport:
                  summary: A processing provider, whose video never comes through here
                  value:
                    success: false
                    error: Unsupported provider
                invalidFile:
                  value:
                    success: false
                    error: Invalid file type. SwingVision requires .xlsx files.
        "401":
          $ref: "#/components/responses/LegacyUnauthorized"
        "403":
          description: The caller can see the match but did not create it.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LegacyErrorResponse"
              example:
                success: false
                error: You can only upload files to your own matches
        "404":
          description: The match does not exist for this caller.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LegacyErrorResponse"
              example:
                success: false
                error: Match not found
        "409":
          description: The match already has a file or statistics.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LegacyErrorResponse"
              example:
                success: false
                error: This match already has a file
        "500":
          description: A read or the storage write failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LegacyErrorResponse"
              examples:
                loadMatch:
                  value:
                    success: false
                    error: Failed to load match
                checkExisting:
                  value:
                    success: false
                    error: Failed to check for an existing file
                store:
                  value:
                    success: false
                    error: Failed to store the file
                unexpected:
                  value:
                    success: false
                    error: Internal server error

  /api/validate-file:
    post:
      tags: [Uploads]
      operationId: validateSwingVisionFile
      summary: Validate a SwingVision .xlsx before upload
      description: >-
        Checks the workbook's sheets and required columns. The file arrives as
        base64 (a data URL is accepted) and is refused before decoding when
        it exceeds SwingVision's 50 MB ceiling. The verdict is advisory; the
        upload route validates again.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ValidateFileRequest"
            example:
              file: data:application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;base64,UEsDBBQABgAIAAAAIQ...
              fileName: match-export.xlsx
      responses:
        "200":
          description: The workbook passed validation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidateFileResponse"
              example:
                success: true
                message: File validation passed
                sheets_validated: [Settings, Shots, Points, Games, Sets, Stats]
                total_rows:
                  Settings: 1
                  Shots: 812
                  Points: 142
                  Games: 22
                  Sets: 2
                  Stats: 48
        "400":
          description: >-
            A required field is missing, or the workbook failed validation —
            the body then carries the validator's detail beside `error`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidateFileResponse"
              examples:
                missingFields:
                  value:
                    success: false
                    error: File data and file name are required
                missingSheets:
                  value:
                    success: false
                    error: "Missing required sheets: Games. Required sheets: Settings, Shots, Points, Games, Sets, Stats"
                    found_sheets: [Settings, Shots, Points, Sets, Stats]
                    required_sheets:
                      [Settings, Shots, Points, Games, Sets, Stats]
                    missing_sheets: [Games]
        "401":
          $ref: "#/components/responses/LegacyUnauthorized"
        "413":
          description: The base64 payload is larger than a 50 MB file can produce.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LegacyErrorResponse"
              example:
                success: false
                error: File too large. Maximum size is 50MB.
        "500":
          description: The body was not JSON, or the workbook could not be parsed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LegacyErrorResponse"
              example:
                success: false
                error: Failed to validate file. Please try again.

  /api/programs/search:
    get:
      tags: [Programs]
      operationId: searchPrograms
      summary: Search the college program directory
      description: >-
        Public — the claim flow runs before an account exists. Up to 8 rows;
        a term under two characters answers `{"results": []}` without a
        query. A failed search also answers an empty list. `intent=join`
        returns the redacted player view (no owner, one `onAdvantage`
        boolean); any other value is the coach view. Cached publicly for five
        minutes per URL.
      security: []
      parameters:
        - name: q
          in: query
          required: false
          description: Search term, matched anywhere in the school name or abbreviation.
          schema:
            type: string
          example: angeles
        - name: intent
          in: query
          required: false
          description: "`join` for the redacted player view; anything else is the coach view."
          schema:
            type: string
          example: join
      responses:
        "200":
          description: Matching programs.
          headers:
            Cache-Control:
              description: "`public, s-maxage=300, stale-while-revalidate=3600`"
              schema:
                type: string
                const: public, s-maxage=300, stale-while-revalidate=3600
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProgramSearchResponse"
              examples:
                coach:
                  summary: Coach intent (default)
                  value:
                    results:
                      - programKey: ucla-womens
                        schoolName: University of California, Los Angeles
                        team: womens
                        division: D1
                        conference: Big Ten
                        state: CA
                        status: active
                        ownerDisplay: Coach Elena Vasquez
                join:
                  summary: "`intent=join`"
                  value:
                    results:
                      - programKey: ucla-womens
                        schoolName: University of California, Los Angeles
                        team: womens
                        division: D1
                        conference: Big Ten
                        state: CA
                        onAdvantage: true

  /api/programs/custom-search:
    get:
      tags: [Programs]
      operationId: searchCustomPrograms
      summary: Search existing custom orgs
      description: >-
        Signed-in only. Lets a coach about to create a club, high school or
        academy find one a colleague already made. Up to 8 rows; a term under
        two characters, or a failed search, answers `{"results": []}`. Never
        cached.
      parameters:
        - name: q
          in: query
          required: false
          description: Search term, matched against the org name.
          schema:
            type: string
          example: centennial
        - name: type
          in: query
          required: false
          description: Narrow to one custom org type. Any other value searches every type.
          schema:
            $ref: "#/components/schemas/CustomOrgType"
          example: club
      responses:
        "200":
          description: Matching custom orgs.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivate"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomProgramSearchResponse"
              example:
                results:
                  - programId: 2d3e4f5a-6b7c-4d8e-9f0a-1b2c3d4e5f6a
                    name: Centennial Tennis Club
                    orgType: club
                    ownerDisplay: Elena V.
        "401":
          description: No session.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivate"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: Unauthorized

components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: sb-pouxujkhtbvkdwbzfvka-auth-token
      description: >-
        The Supabase Auth session cookie set by `@supabase/ssr`, named
        `sb-<project-ref>-auth-token` (the production project ref is shown;
        another project uses its own). A large session is split into
        `.0`, `.1`, … chunks. `src/proxy.ts` refreshes it on every request.

  parameters:
    MatchId:
      name: matchId
      in: path
      required: true
      description: The match's id. A value that is not a UUID answers 404, never 400.
      schema:
        type: string
        format: uuid
      example: 5b0f4c1e-8a7d-4b43-9f7e-1c2d3e4f5a6b
    AttachmentId:
      name: attachmentId
      in: path
      required: true
      description: >-
        The upload attempt's id, as returned by the reservation. A value that
        is not a UUID answers 404 `match_not_found`.
      schema:
        type: string
        format: uuid
      example: 9e8d7c6b-5a4f-4e3d-8c2b-1a0f9e8d7c6b

  headers:
    CacheControlPrivate:
      description: Every answer carries a credential or is per-caller, so none is cacheable.
      schema:
        type: string
        const: private, no-store
    RetryAfter:
      description: Seconds to wait before re-sending the same completion request.
      schema:
        type: integer
        minimum: 1
      example: 2

  requestBodies:
    NoMetadata:
      description: >-
        None of these endpoints takes a field. `Content-Type:
        application/json` is still required (it makes the request one a
        browser preflights); the body must be absent or `{}`, and any key is
        refused with 400 `invalid_request`.
      required: false
      content:
        application/json:
          schema:
            type: object
            maxProperties: 0
          example: {}

  responses:
    PlainUnauthorized:
      description: No session.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error: Unauthorized
    PlainNotFound:
      description: >-
        The id is not a UUID, the match does not exist, or it is not the
        caller's. The three are indistinguishable on purpose.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error: Not found
    LegacyUnauthorized:
      description: No session.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/LegacyErrorResponse"
          example:
            success: false
            error: Unauthorized
    VideoInvalidRequest:
      description: >-
        The request never reached the attachment domain: a non-JSON content
        type, an unreadable or malformed body, a body that is not an object,
        or a missing, mistyped or unexpected field. `detail` names the cause.
      headers:
        Cache-Control:
          $ref: "#/components/headers/CacheControlPrivate"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/VideoErrorResponse"
          examples:
            invalidRequest:
              $ref: "#/components/examples/InvalidRequest"
    VideoUnauthenticated:
      description: No session.
      headers:
        Cache-Control:
          $ref: "#/components/headers/CacheControlPrivate"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/VideoErrorResponse"
          examples:
            unauthenticated:
              $ref: "#/components/examples/Unauthenticated"
    VideoMutationForbidden:
      description: >-
        Cross-origin request (`cross_origin`); the caller did not create the
        match or it is not a SwingVision import (`forbidden`); or the active
        workspace is not the match's own (`workspace_mismatch`).
      headers:
        Cache-Control:
          $ref: "#/components/headers/CacheControlPrivate"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/VideoErrorResponse"
          examples:
            crossOrigin:
              $ref: "#/components/examples/CrossOrigin"
            forbidden:
              $ref: "#/components/examples/Forbidden"
            workspaceMismatch:
              $ref: "#/components/examples/WorkspaceMismatch"
    VideoMatchNotFound:
      description: >-
        The id is malformed, or the match (or attempt) does not exist for this
        caller. Absent and invisible are the same answer.
      headers:
        Cache-Control:
          $ref: "#/components/headers/CacheControlPrivate"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/VideoErrorResponse"
          examples:
            matchNotFound:
              $ref: "#/components/examples/MatchNotFound"
    VideoAttemptConflict:
      description: >-
        The attempt is active or retired (`mode_conflict`), or a completion
        currently holds it (`pending_attempt_conflict`).
      headers:
        Cache-Control:
          $ref: "#/components/headers/CacheControlPrivate"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/VideoErrorResponse"
          examples:
            modeConflict:
              $ref: "#/components/examples/ModeConflict"
            pendingAttempt:
              $ref: "#/components/examples/PendingAttemptConflict"
    VideoRequestTooLarge:
      description: The body exceeds 4096 bytes, by `Content-Length` or as streamed.
      headers:
        Cache-Control:
          $ref: "#/components/headers/CacheControlPrivate"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/VideoErrorResponse"
          examples:
            requestTooLarge:
              $ref: "#/components/examples/RequestTooLarge"
    VideoFileTooLarge:
      description: >-
        The request body exceeds 4096 bytes (`request_too_large`), or the
        video is 8 GB or more (`file_too_large`) or empty (`empty_file`).
      headers:
        Cache-Control:
          $ref: "#/components/headers/CacheControlPrivate"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/VideoErrorResponse"
          examples:
            requestTooLarge:
              $ref: "#/components/examples/RequestTooLarge"
            fileTooLarge:
              $ref: "#/components/examples/FileTooLarge"
            emptyFile:
              $ref: "#/components/examples/EmptyFile"
    VideoInternalError:
      description: A bug or unexpected database answer on the server side.
      headers:
        Cache-Control:
          $ref: "#/components/headers/CacheControlPrivate"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/VideoErrorResponse"
          examples:
            internalError:
              $ref: "#/components/examples/InternalError"
    VideoStorageUnavailable:
      description: >-
        The database or video storage could not be asked. Retryable — the
        match may well exist.
      headers:
        Cache-Control:
          $ref: "#/components/headers/CacheControlPrivate"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/VideoErrorResponse"
          examples:
            storageUnavailable:
              $ref: "#/components/examples/StorageUnavailable"

  examples:
    Unauthenticated:
      summary: unauthenticated
      value:
        error: Sign in to continue.
        code: unauthenticated
        detail: no_session
    MatchNotFound:
      summary: match_not_found
      value:
        error: This match is not available.
        code: match_not_found
        detail: not_visible
    CrossOrigin:
      summary: cross_origin
      value:
        error: This request must come from the app.
        code: cross_origin
        detail: origin_not_allowed
    Forbidden:
      summary: forbidden
      value:
        error: Only the person who added this match can change its video.
        code: forbidden
        detail: not_creator
    WorkspaceMismatch:
      summary: workspace_mismatch
      value:
        error: Switch to this match's workspace to change its video.
        code: workspace_mismatch
        detail: match_in_other_program
    InvalidRequest:
      summary: invalid_request
      value:
        error: This request is not valid.
        code: invalid_request
        detail: "unexpected_field:offsetSeconds"
    RequestTooLarge:
      summary: request_too_large
      value:
        error: This request is too large.
        code: request_too_large
        detail: content_length
    StaleAttachment:
      summary: stale_attachment
      value:
        error: The video changed. Reload and try again.
        code: stale_attachment
        detail: final_object_missing
    PendingAttemptConflict:
      summary: pending_attempt_conflict
      value:
        error: Another video upload for this match is already in progress.
        code: pending_attempt_conflict
        detail: finalizing
    ModeConflict:
      summary: mode_conflict
      value:
        error: The video changed. Reload and try again.
        code: mode_conflict
        detail: attempt_retired
    AttachmentLimitReached:
      summary: attachment_limit_reached
      value:
        error: This workspace has reached its match video limit. You can still replace a match's existing video.
        code: attachment_limit_reached
        detail: workspace_at_limit
    FileTooLarge:
      summary: file_too_large
      value:
        error: This video is too large. Choose a file under 8 GB.
        code: file_too_large
        detail: size_over_limit
    EmptyFile:
      summary: empty_file
      value:
        error: This file is empty. Choose a video file.
        code: empty_file
        detail: size_not_positive
    UnsupportedMedia:
      summary: unsupported_media
      value:
        error: This video cannot be played. Export it as an MP4 with H.264 video and try again.
        code: unsupported_media
        detail: extension
    MediaProbeBudget:
      summary: media_probe_budget
      value:
        error: This video cannot be played. Export it as an MP4 with H.264 video and try again.
        code: media_probe_budget
        detail: total_bytes_limit
    InvalidAlignment:
      summary: invalid_alignment
      value:
        error: Enter a time inside this video, as hh:mm:ss.sss.
        code: invalid_alignment
        detail: confirmed_time_malformed
    MissingSourceTiming:
      summary: missing_source_timing
      value:
        error: This match is missing the timing data needed to align a video.
        code: missing_source_timing
        detail: no_points
    InsufficientCoverage:
      summary: insufficient_coverage
      value:
        error: This video is not long enough.
        code: insufficient_coverage
        detail: coverage_past_end
    StorageUnavailable:
      summary: storage_unavailable
      value:
        error: Video storage is unavailable right now. Try again in a moment.
        code: storage_unavailable
        detail: match_read_failed
    InternalError:
      summary: internal_error
      value:
        error: Something went wrong on our side. Try again in a moment.
        code: internal_error
        detail: unhandled

  schemas:
    ErrorResponse:
      type: object
      description: >-
        The error envelope. `error` is the sentence a client may show; `code`
        is the stable slug a client branches on (video routes only); `detail`
        is a cause slug for logs and tests — never rendered, and a client must
        not depend on it being present.
      required: [error]
      properties:
        error:
          type: string
        code:
          type: string
        detail:
          type: string
    FieldErrorResponse:
      description: An `ErrorResponse` that may name the refused field.
      allOf:
        - $ref: "#/components/schemas/ErrorResponse"
        - type: object
          properties:
            field:
              type: string
              description: The body key the refusal is about.
    VideoErrorCode:
      type: string
      description: >-
        `MatchVideoErrorCode` (`src/lib/match-video/types.ts`) plus the four
        transport codes of `src/lib/services/match-video/http.ts`
        (`invalid_request`, `cross_origin`, `request_too_large`,
        `internal_error`).
      enum:
        - unauthenticated
        - match_not_found
        - forbidden
        - workspace_mismatch
        - stale_attachment
        - pending_attempt_conflict
        - mode_conflict
        - attachment_limit_reached
        - file_too_large
        - empty_file
        - unsupported_media
        - media_probe_budget
        - invalid_alignment
        - missing_source_timing
        - insufficient_coverage
        - storage_unavailable
        - invalid_request
        - cross_origin
        - request_too_large
        - internal_error
    VideoErrorResponse:
      description: An `ErrorResponse` whose `code` is always present.
      allOf:
        - $ref: "#/components/schemas/ErrorResponse"
        - type: object
          required: [code]
          properties:
            code:
              $ref: "#/components/schemas/VideoErrorCode"
    LegacyErrorResponse:
      type: object
      description: The `/api/upload` and `/api/validate-file` error envelope.
      required: [success, error]
      properties:
        success:
          type: boolean
          const: false
        error:
          type: string
    OkResponse:
      type: object
      required: [ok]
      properties:
        ok:
          type: boolean
          const: true

    Hand:
      type: string
      enum: [right, left]
    Backhand:
      type: string
      enum: [one-handed, two-handed]
    MatchScore:
      type: object
      required: [player1, player2]
      properties:
        player1:
          type: array
          description: Games per set for the player.
          items:
            type: integer
            minimum: 0
        player2:
          type: array
          description: Games per set for the opponent.
          items:
            type: integer
            minimum: 0
        player1_tiebreaks:
          type: array
          items:
            type: [integer, "null"]
        player2_tiebreaks:
          type: array
          items:
            type: [integer, "null"]
        winner:
          description: Derived from the sets on save; a stored retirement winner is kept.
          type: [string, "null"]
          enum: [player1, player2, null]
    MatchFormat:
      type: object
      properties:
        best_of:
          type: integer
          enum: [1, 3, 5]
        ad_scoring:
          type: [boolean, "null"]
        play_on_lets:
          type: [boolean, "null"]
        games_to:
          type: integer
          description: Games in a set. Absent on singles (6); 6 or 8 on a doubles line.
    Match:
      type: object
      description: The `matches` columns the Edit Match dialog reads.
      required: [id]
      properties:
        id:
          type: string
          format: uuid
        tournament_name:
          type: [string, "null"]
        round:
          type: [string, "null"]
        date:
          type: [string, "null"]
          description: Stored as local noon, `YYYY-MM-DDT12:00:00`.
        match_type:
          type: [string, "null"]
        court_type:
          type: [string, "null"]
        player1_id:
          type: [string, "null"]
          description: An auth user id or a `program_players.id`; never normalise it.
        player1_name:
          type: [string, "null"]
        player2_name:
          type: [string, "null"]
        score:
          oneOf:
            - $ref: "#/components/schemas/MatchScore"
            - type: "null"
        private:
          type: boolean
        format:
          oneOf:
            - $ref: "#/components/schemas/MatchFormat"
            - type: "null"
        duration:
          type: [string, integer, "null"]
        player_hand:
          type: [string, "null"]
        player_backhand:
          type: [string, "null"]
        opponent_hand:
          type: [string, "null"]
        opponent_backhand:
          type: [string, "null"]
        program_id:
          type: [string, "null"]
          format: uuid
        event_entry_id:
          type: [string, "null"]
          format: uuid
        source_provider:
          type: [string, "null"]
          description: "`swing-vision`, `splitstep`, or null for a hand-scored match."
    AnalysisStatus:
      type: string
      enum:
        - uploading
        - queued
        - processing
        - deriving
        - completed
        - failed
        - derivation_failed
        - uploaded
    MatchEventContext:
      type: object
      required:
        [
          eventId,
          eventName,
          eventKind,
          slot,
          discipline,
          startsOn,
          endsOn,
          site,
          surface,
          format,
        ]
      properties:
        eventId:
          type: string
          format: uuid
        eventName:
          type: string
        eventKind:
          type: string
          enum: [dual, tournament]
        slot:
          type: [string, "null"]
        discipline:
          type: string
        startsOn:
          type: string
          format: date
        endsOn:
          type: string
          format: date
        site:
          type: string
        surface:
          type: [string, "null"]
        format:
          type: [object, "null"]
          properties:
            best_of:
              type: integer
            ad_scoring:
              type: [boolean, "null"]
    MatchDetailResponse:
      type: object
      required: [match, analysis, event, canAttach]
      properties:
        match:
          $ref: "#/components/schemas/Match"
        analysis:
          description: The newest processing job's status, or null when there is none.
          oneOf:
            - type: object
              required: [status]
              properties:
                status:
                  $ref: "#/components/schemas/AnalysisStatus"
            - type: "null"
        event:
          description: The event line the match is filed under, or null.
          oneOf:
            - $ref: "#/components/schemas/MatchEventContext"
            - type: "null"
        canAttach:
          type: boolean
          description: >-
            A team match not yet on a line, in the viewed team workspace, by
            someone who may run its schedule.
    MatchPatchRequest:
      type: object
      description: >-
        Every key is optional; send only what changed. At least one editable
        key is required, or the answer is 400 "Nothing to save.". On a match
        filed under an event line, `tournament_name`, `round`, `date`,
        `match_type` and `court_type` are refused.
      minProperties: 1
      properties:
        tournament_name:
          type: [string, "null"]
        round:
          type: [string, "null"]
        date:
          type: string
          format: date
        match_type:
          type: [string, "null"]
        court_type:
          type: [string, "null"]
        player1_id:
          type: string
          description: Team matches only — a player on the program roster.
        player1_name:
          type: string
          minLength: 1
        player2_name:
          type: string
          minLength: 1
        player_hand:
          oneOf:
            - $ref: "#/components/schemas/Hand"
            - type: "null"
        opponent_hand:
          oneOf:
            - $ref: "#/components/schemas/Hand"
            - type: "null"
        player_backhand:
          oneOf:
            - $ref: "#/components/schemas/Backhand"
            - type: "null"
        opponent_backhand:
          oneOf:
            - $ref: "#/components/schemas/Backhand"
            - type: "null"
        format:
          description: Refused on an analysed or event-linked match.
          allOf:
            - $ref: "#/components/schemas/MatchFormat"
        score:
          $ref: "#/components/schemas/MatchScore"

    BallPathSample:
      type: array
      description: "`[t, x, y, z]` — video seconds and court metres."
      items:
        type: number
      minItems: 4
      maxItems: 4
    BallPathStroke:
      type: object
      required: [contactTime, bounceTime, path]
      properties:
        contactTime:
          type: number
          description: The stroke's video time; equals `shots.video_time`.
        bounceTime:
          type: [number, "null"]
        path:
          type: array
          items:
            $ref: "#/components/schemas/BallPathSample"
    BallPathsFile:
      type: object
      required: [version, strokes]
      properties:
        version:
          type: integer
          const: 1
        strokes:
          type: array
          items:
            $ref: "#/components/schemas/BallPathStroke"

    ExpectedActiveAttachment:
      description: >-
        The attachment the caller believes is active, or `null` for "this
        match has no video". The key must be present; omitting it is a 400.
      oneOf:
        - type: object
          additionalProperties: false
          required: [id, version]
          properties:
            id:
              type: string
              format: uuid
            version:
              type: integer
              minimum: 0
        - type: "null"
    ConfirmedVideoTime:
      description: >-
        Video-clock seconds where the first point's serve contact happens, as
        a non-negative number or an `hh:mm:ss.sss` string. Rounded to
        milliseconds. A malformed value is 422 `invalid_alignment`.
      oneOf:
        - type: number
          minimum: 0
        - type: string
          pattern: "^(\\d+:){0,2}\\d+(\\.\\d+)?$"
    ActiveAttachment:
      type: object
      required:
        [
          id,
          version,
          offsetSeconds,
          confirmedVideoTimeSeconds,
          durationSeconds,
          contentType,
          filename,
        ]
      properties:
        id:
          type: string
          format: uuid
        version:
          type: integer
          minimum: 0
          description: Increments on every alignment change.
        offsetSeconds:
          type: number
          description: The saved source-to-video shift.
        confirmedVideoTimeSeconds:
          type: number
        durationSeconds:
          type: number
          description: Server-verified duration of the published file.
        contentType:
          type: string
        filename:
          type: string
    PlaybackMetadata:
      allOf:
        - $ref: "#/components/schemas/ActiveAttachment"
        - type: object
          required: [playbackUrl, playbackExpiresAt]
          properties:
            playbackUrl:
              type: string
              format: uri
              description: Short-lived read-only SAS URL. Refresh it; never store it.
            playbackExpiresAt:
              type: string
              format: date-time
    PlaybackMetadataResult:
      type: object
      required: [attachment]
      properties:
        attachment:
          oneOf:
            - $ref: "#/components/schemas/PlaybackMetadata"
            - type: "null"
    RemoveAttachmentRequest:
      type: object
      additionalProperties: false
      required: [attachmentId]
      properties:
        attachmentId:
          type: string
          format: uuid
    RemoveAttachmentResult:
      type: object
      required: [attachmentId, state, retiredReason]
      properties:
        attachmentId:
          type: string
          format: uuid
        state:
          type: string
          const: retired
        retiredReason:
          type: [string, "null"]
          enum: [removed, expired, null]
          description: Null when the row was already retired by a replacement.
    UpdateAlignmentRequest:
      type: object
      additionalProperties: false
      required: [attachmentId, expectedVersion, confirmedVideoTimeSeconds]
      properties:
        attachmentId:
          type: string
          format: uuid
          description: The attachment the caller believes is active.
        expectedVersion:
          type: integer
          minimum: 0
        confirmedVideoTimeSeconds:
          $ref: "#/components/schemas/ConfirmedVideoTime"
    UpdateAlignmentResult:
      type: object
      required: [attachment]
      properties:
        attachment:
          $ref: "#/components/schemas/ActiveAttachment"
    ReserveUploadRequest:
      type: object
      additionalProperties: false
      required:
        [filename, sizeBytes, contentType, clientRequestId, expectedActive]
      properties:
        filename:
          type: string
          minLength: 1
          maxLength: 255
          description: >-
            Display name; must end in .mp4, .mov, .m4v, .mkv or .webm and hold
            no path separators or control characters.
        sizeBytes:
          type: integer
          minimum: 1
          maximum: 7999999999
          description: Declared size. Advisory — the stored blob is measured server-side.
        contentType:
          type: string
          description: A MIME type, `type/subtype`.
        clientRequestId:
          type: string
          format: uuid
          description: Client-generated; makes the reservation retry-safe.
        expectedActive:
          $ref: "#/components/schemas/ExpectedActiveAttachment"
    UploadCredential:
      type: object
      required: [attachmentId, uploadUrl, uploadExpiresAt]
      properties:
        attachmentId:
          type: string
          format: uuid
        uploadUrl:
          type: string
          format: uri
          description: Write-only SAS for the staged key. Never names the final object.
        uploadExpiresAt:
          type: string
          format: date-time
    CancelUploadResult:
      type: object
      required: [attachmentId, state]
      properties:
        attachmentId:
          type: string
          format: uuid
        state:
          type: string
          const: retired
    CompleteUploadRequest:
      type: object
      additionalProperties: false
      required: [confirmedVideoTimeSeconds, expectedActive]
      properties:
        confirmedVideoTimeSeconds:
          $ref: "#/components/schemas/ConfirmedVideoTime"
        expectedActive:
          $ref: "#/components/schemas/ExpectedActiveAttachment"
    CompleteUploadPending:
      type: object
      required: [status, attachmentId, retryAfterSeconds]
      properties:
        status:
          type: string
          const: pending
        attachmentId:
          type: string
          format: uuid
        retryAfterSeconds:
          type: integer
          minimum: 1
    CompleteUploadCommitted:
      type: object
      required: [status, attachment]
      properties:
        status:
          type: string
          const: committed
        attachment:
          $ref: "#/components/schemas/ActiveAttachment"
    RecordViewResult:
      type: object
      required: [view]
      properties:
        view:
          oneOf:
            - type: object
              required: [attachmentId, lastViewedAt]
              properties:
                attachmentId:
                  type: string
                  format: uuid
                lastViewedAt:
                  type: string
                  format: date-time
                  description: The new start of the retention clock.
            - type: "null"

    UploadRequest:
      type: object
      required: [file, matchId, providerId]
      properties:
        file:
          type: string
          format: binary
          description: The SwingVision .xlsx export, under 50 MB.
        matchId:
          type: string
          format: uuid
        providerId:
          type: string
          description: An import provider. Only `swing-vision` is one today.
          example: swing-vision
    UploadResponse:
      type: object
      required: [success, fileId, storagePath]
      properties:
        success:
          type: boolean
          const: true
        fileId:
          type: string
        storagePath:
          type: string
    ValidateFileRequest:
      type: object
      required: [file, fileName]
      properties:
        file:
          type: string
          description: The workbook as base64, or as a base64 data URL.
        fileName:
          type: string
    ValidateFileResponse:
      type: object
      required: [success]
      properties:
        success:
          type: boolean
        error:
          type: string
        validation_errors:
          type: array
          items:
            type: string
        found_sheets:
          type: array
          items:
            type: string
        required_sheets:
          type: array
          items:
            type: string
        missing_sheets:
          type: array
          items:
            type: string
        extra_sheets:
          type: array
          items:
            type: string
        message:
          type: string
        sheets_validated:
          type: array
          items:
            type: string
        total_rows:
          type: object
          additionalProperties:
            type: integer

    ProgramDirectoryRow:
      type: object
      required: [programKey, schoolName, team, division, conference, state]
      properties:
        programKey:
          type: string
        schoolName:
          type: string
        team:
          type: string
          enum: [mens, womens]
        division:
          type: [string, "null"]
        conference:
          type: [string, "null"]
        state:
          type: [string, "null"]
    ProgramSearchResult:
      description: The coach view.
      allOf:
        - $ref: "#/components/schemas/ProgramDirectoryRow"
        - type: object
          required: [status, ownerDisplay]
          properties:
            status:
              type: string
              enum: [unclaimed, claim_pending, active, suspended]
            ownerDisplay:
              type: [string, "null"]
              description: '"Coach Elena Vasquez" on a claimed row.'
    PlayerProgramRow:
      description: The redacted player view (`intent=join`).
      allOf:
        - $ref: "#/components/schemas/ProgramDirectoryRow"
        - type: object
          required: [onAdvantage]
          properties:
            onAdvantage:
              type: boolean
    ProgramSearchResponse:
      type: object
      required: [results]
      properties:
        results:
          type: array
          maxItems: 8
          items:
            oneOf:
              - $ref: "#/components/schemas/ProgramSearchResult"
              - $ref: "#/components/schemas/PlayerProgramRow"
    CustomOrgType:
      type: string
      enum: [club, high_school, academy, other]
    CustomProgramSearchResponse:
      type: object
      required: [results]
      properties:
        results:
          type: array
          maxItems: 8
          items:
            type: object
            required: [programId, name, orgType, ownerDisplay]
            properties:
              programId:
                type: string
                format: uuid
              name:
                type: string
              orgType:
                $ref: "#/components/schemas/CustomOrgType"
              ownerDisplay:
                type: [string, "null"]
                description: '"Elena V." when the owner has a name.'
