openapi: 3.1.0
info:
  title: Advantage API
  version: 0.1.0
  summary: The route handlers under src/app/api, as the dashboard calls them.
  description: |
    Every path here is a Next.js route handler in `src/app/api/`. The handler
    code is the source of truth: each status code below is one the handler, or
    the module it delegates to, returns as a literal.

    **Authentication.** Signed-in routes read the Supabase session from its
    cookie (`cookieAuth`) through `createClient()`; there is no bearer token.
    `/api/programs/search` is the only public browser route in this file.

    **Machine callers.** The rule above is about browser routes. The vendor
    and Stripe webhooks and the cleanup cron carry no session: they
    authenticate with `splitstepHmac`, `stripeSignature` and `cronBearer`.
    Two further operations take no credential at all — the vendor webhook's
    GET liveness check and the retired `/api/create-checkout-session`, which
    answers 410 to everyone. The admin upload routes use the session and
    additionally require `users.is_admin`.

    **Same origin.** Every mutation under `/api/matches/{matchId}/video`
    also requires a request from a page this deployment served
    (`checkSameOrigin`): a cross-site `Sec-Fetch-Site`, a missing `Origin`, or
    an `Origin` that is neither the request's own nor the configured site URL
    is refused with `403 cross_origin` before anything else runs. Those
    routes also require `Content-Type: application/json` and cap the body at
    4096 bytes (`413 request_too_large`).

    **Errors.** Three envelopes, by route family:

    - the video routes answer `ErrorResponse` with a stable `code` (see
      `MatchVideoErrorCode` in `src/lib/match-video/types.ts` and the
      transport codes in `src/lib/services/match-video/http.ts`) and send
      `Cache-Control: private, no-store` on every answer;
    - `/api/matches/{matchId}` answers `ErrorResponse` with `error` only, plus
      `field` on a validation refusal;
    - `/api/upload` and `/api/validate-file` answer `{ success: false, error }`.

    The routes added in part 2 keep to the same shapes with three additions:
    the video-analysis routes answer `ErrorResponse`, with the allowance
    figures, the builder's `details` or the resubmit `reason` beside `error`
    where the handler adds them; the admin upload routes answer
    `{ ok: false, message }`; and the two insight routes answer plain text.
servers:
  - url: https://app.advantage-analytics.com
    description: Production
  - url: https://www.advantage-analytics.dev
    description: Staging (splitstep-integration)
  - url: http://localhost:3000
    description: Local dev server
security:
  - cookieAuth: []
tags:
  - name: Matches
    description: The Edit Match dialog's read, write and delete.
  - name: Match video
    description: >-
      SwingVision video attachment — playback, reservation, upload
      completion, alignment, removal and view counting. Decision modules
      live in `src/lib/services/match-video/`.
  - name: Uploads
    description: The match wizard's SwingVision .xlsx validation and upload.
  - name: Programs
    description: Program directory typeaheads for the claim and setup flows.
  - name: Video analysis
    description: >-
      Advantage Intelligence — the upload credential, submission, retry,
      statistics rebuild and allowance reading of a match video's analysis.
      Decisions live in each route's `handler.ts` and in
      `src/lib/services/splitstep/`.
  - name: Webhooks
    description: Machine callers that sign their deliveries instead of holding a session.
  - name: Cron
    description: Scheduled jobs, called by Vercel Cron with `CRON_SECRET`.
  - name: Insights
    description: The Focus cards' streamed one-sentence claims.
  - name: Admin uploads
    description: The admin console's file and video submissions.
  - name: Billing
    description: Checkout, retired for the beta.
paths:
  /api/matches/{matchId}:
    parameters:
      - $ref: "#/components/parameters/MatchId"
    get:
      tags: [Matches]
      operationId: getMatch
      summary: Read a match for the Edit Match dialog
      description: >-
        The caller's own match (`created_by` is the session user), with the
        latest analysis status, the event line it is filed under, and whether
        this viewer may attach it to a line. A malformed id, a missing match
        and someone else's match all answer 404.
      responses:
        "200":
          description: The match and the context the dialog lays itself out from.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MatchDetailResponse"
              examples:
                personalMatch:
                  summary: A hand-scored personal match
                  value:
                    match:
                      id: 5b0f4c1e-8a7d-4b43-9f7e-1c2d3e4f5a6b
                      tournament_name: Spring Open
                      round: R16
                      date: "2026-09-12T12:00:00"
                      match_type: tournament
                      court_type: hard
                      player1_id: 0e9a2b7c-4d1f-4a8e-9b3c-2f1e0d9c8b7a
                      player1_name: Alex Rivera
                      player2_name: Sam Chen
                      score:
                        player1: [6, 4, 6]
                        player2: [3, 6, 2]
                        winner: player1
                      private: true
                      format:
                        best_of: 3
                        ad_scoring: true
                      duration: null
                      player_hand: right
                      player_backhand: two-handed
                      opponent_hand: left
                      opponent_backhand: one-handed
                      program_id: null
                      event_entry_id: null
                      source_provider: null
                    analysis: null
                    event: null
                    canAttach: false
        "401":
          $ref: "#/components/responses/PlainUnauthorized"
        "404":
          $ref: "#/components/responses/PlainNotFound"
        "500":
          description: The match or its analysis status could not be read.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: Could not load the match
    patch:
      tags: [Matches]
      operationId: updateMatch
      summary: Edit a match
      description: >-
        Partial update of the caller's own match. The rules live in
        `normalizeMatchPatch` (`src/lib/matches/patch-match.ts`): a match on a
        scheduled event line refuses the event-owned fields, an analysed match
        keeps its format fixed, and a team match's player must come from the
        program roster (the saved name is the roster's, never the client's).
        `private` is forced to `true` on every save during the beta.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MatchPatchRequest"
            examples:
              rename:
                summary: Correct the opponent and the score
                value:
                  player2_name: Sam Chen
                  score:
                    player1: [6, 4, 7]
                    player2: [3, 6, 6]
                    player1_tiebreaks: [null, null, 7]
                    player2_tiebreaks: [null, null, 4]
      responses:
        "200":
          description: The saved row.
          content:
            application/json:
              schema:
                type: object
                required: [match]
                properties:
                  match:
                    $ref: "#/components/schemas/Match"
              example:
                match:
                  id: 5b0f4c1e-8a7d-4b43-9f7e-1c2d3e4f5a6b
                  tournament_name: Spring Open
                  round: R16
                  date: "2026-09-12T12:00:00"
                  match_type: tournament
                  court_type: hard
                  player1_id: 0e9a2b7c-4d1f-4a8e-9b3c-2f1e0d9c8b7a
                  player1_name: Alex Rivera
                  player2_name: Sam Chen
                  score:
                    player1: [6, 4, 7]
                    player2: [3, 6, 6]
                    player1_tiebreaks: [null, null, 7]
                    player2_tiebreaks: [null, null, 4]
                    winner: player1
                  private: true
                  format:
                    best_of: 3
                  duration: null
                  player_hand: right
                  player_backhand: two-handed
                  opponent_hand: null
                  opponent_backhand: null
                  program_id: null
                  event_entry_id: null
                  source_provider: null
        "400":
          description: >-
            The body is not a JSON object, or a field is refused. A field
            refusal names the field so the dialog can mark it.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FieldErrorResponse"
              examples:
                invalidJson:
                  summary: Body is not a JSON object
                  value:
                    error: Invalid JSON body
                eventOwned:
                  summary: An event-owned field on a scheduled match
                  value:
                    error: This match is on a scheduled event, so that comes from the event. Change it in Schedule.
                    field: date
                offRoster:
                  summary: A player who is not on the program roster
                  value:
                    error: Choose a player on this team's roster.
                    field: player1_id
                empty:
                  summary: No editable field in the body
                  value:
                    error: Nothing to save.
        "401":
          $ref: "#/components/responses/PlainUnauthorized"
        "404":
          $ref: "#/components/responses/PlainNotFound"
        "500":
          description: The match, its analysis status or the roster could not be read, or the save failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                load:
                  value:
                    error: Could not load the match
                roster:
                  value:
                    error: Could not load the roster
                save:
                  value:
                    error: Could not save the match
    delete:
      tags: [Matches]
      operationId: deleteMatch
      summary: Delete a match and its stored files
      description: >-
        Purges the match's storage first (`purgeMatchStorage`), then deletes
        the row. A match recorded or analysed through the admin console is
        refused with 409; a purge that cannot run is a retryable 503.
      responses:
        "200":
          description: The match is gone.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OkResponse"
              example:
                ok: true
        "401":
          $ref: "#/components/responses/PlainUnauthorized"
        "404":
          $ref: "#/components/responses/PlainNotFound"
        "409":
          description: The admin console's purge guard protects this match.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: Matches recorded or analyzed through the admin console cannot be deleted here.
        "500":
          description: The match could not be read, or the row delete failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                load:
                  value:
                    error: Could not load the match
                delete:
                  value:
                    error: Could not delete the match
        "503":
          description: The storage purge could not run. Nothing was deleted; retry.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: Match deletion is unavailable. Try again.

  /api/matches/{matchId}/ball-paths:
    parameters:
      - $ref: "#/components/parameters/MatchId"
    get:
      tags: [Match video]
      operationId: getBallPaths
      summary: Read the derived ball paths for a match
      description: >-
        For anyone who can see the match (RLS visibility, not ownership). The
        stored file is returned verbatim; a match with no file answers 200 with
        `{"version":1,"strokes":[]}`, never 404.
      responses:
        "200":
          description: The ball-paths file, or the empty file.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivate"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BallPathsFile"
              examples:
                withStrokes:
                  summary: A derived file
                  value:
                    version: 1
                    strokes:
                      - contactTime: 12.48
                        bounceTime: 13.02
                        path:
                          - [12.48, 1.2, -10.9, 0.95]
                          - [12.58, 1.4, -6.1, 1.62]
                          - [13.02, 2.1, 4.3, 0]
                empty:
                  summary: No file for this match
                  value:
                    version: 1
                    strokes: []
        "401":
          $ref: "#/components/responses/VideoUnauthenticated"
        "404":
          $ref: "#/components/responses/VideoMatchNotFound"
        "500":
          $ref: "#/components/responses/VideoInternalError"
        "503":
          $ref: "#/components/responses/VideoStorageUnavailable"

  /api/matches/{matchId}/video:
    parameters:
      - $ref: "#/components/parameters/MatchId"
    get:
      tags: [Match video]
      operationId: getMatchVideo
      summary: Read playback metadata and a fresh read-only URL
      description: >-
        For anyone who can see the match. Also the credential-refresh
        endpoint: re-fetch as `playbackExpiresAt` nears and compare `id` and
        `version` — a different `id` is a replacement, a higher `version` an
        alignment correction. A match with no video answers
        `{"attachment": null}`. No same-origin check: a browser sends no
        `Origin` on a same-origin GET, and the route sets no CORS headers.
      responses:
        "200":
          description: The active attachment, or null.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivate"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaybackMetadataResult"
              examples:
                active:
                  summary: A match with a video
                  value:
                    attachment:
                      id: 7c1d2e3f-4a5b-4c6d-8e7f-9a0b1c2d3e4f
                      version: 2
                      offsetSeconds: -41.25
                      confirmedVideoTimeSeconds: 63.5
                      durationSeconds: 5421.04
                      contentType: video/mp4
                      filename: spring-open-r16.mp4
                      playbackUrl: https://example.blob.core.windows.net/match-videos/final/7c1d2e3f.mp4?sv=2025-01-05&sp=r&sig=REDACTED
                      playbackExpiresAt: "2026-09-29T15:30:00.000Z"
                none:
                  summary: A match with no video
                  value:
                    attachment: null
        "401":
          $ref: "#/components/responses/VideoUnauthenticated"
        "404":
          $ref: "#/components/responses/VideoMatchNotFound"
        "409":
          description: >-
            The active row's published object is missing. Not retryable, and
            not "no video" — the row is still active.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivate"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoErrorResponse"
              examples:
                stale:
                  $ref: "#/components/examples/StaleAttachment"
        "500":
          $ref: "#/components/responses/VideoInternalError"
        "503":
          $ref: "#/components/responses/VideoStorageUnavailable"
    delete:
      tags: [Match video]
      operationId: removeMatchVideo
      summary: Remove the active video
      description: >-
        Retires the attachment (`retired_reason = 'removed'`) and schedules a
        best-effort blob cleanup after the response. Allowed for the video's
        uploader, or an owner or coach of the match's program. Idempotent: a
        repeat answers 200 with the row as it stands.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RemoveAttachmentRequest"
            example:
              attachmentId: 7c1d2e3f-4a5b-4c6d-8e7f-9a0b1c2d3e4f
      responses:
        "200":
          description: The attachment is retired.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivate"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RemoveAttachmentResult"
              example:
                attachmentId: 7c1d2e3f-4a5b-4c6d-8e7f-9a0b1c2d3e4f
                state: retired
                retiredReason: removed
        "400":
          $ref: "#/components/responses/VideoInvalidRequest"
        "401":
          $ref: "#/components/responses/VideoUnauthenticated"
        "403":
          description: >-
            Cross-origin request, or the caller neither uploaded this video nor
            is an owner or coach of the match's program.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivate"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoErrorResponse"
              examples:
                crossOrigin:
                  $ref: "#/components/examples/CrossOrigin"
                notUploaderOrLead:
                  summary: Not the uploader, owner or coach
                  value:
                    error: Only the person who uploaded this video, or a team owner or coach, can remove it.
                    code: forbidden
                    detail: not_uploader_or_program_lead
        "404":
          description: >-
            The match is not visible to the caller, or no attachment with this
            id is filed under it.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivate"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoErrorResponse"
              examples:
                match:
                  $ref: "#/components/examples/MatchNotFound"
                attachment:
                  summary: Attachment not on this match
                  value:
                    error: This match is not available.
                    code: match_not_found
                    detail: no_such_attachment
        "409":
          description: The attachment is not in a state removal accepts.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivate"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoErrorResponse"
              examples:
                modeConflict:
                  $ref: "#/components/examples/ModeConflict"
        "413":
          $ref: "#/components/responses/VideoRequestTooLarge"
        "500":
          $ref: "#/components/responses/VideoInternalError"
        "503":
          $ref: "#/components/responses/VideoStorageUnavailable"

  /api/matches/{matchId}/video/alignment:
    parameters:
      - $ref: "#/components/parameters/MatchId"
    patch:
      tags: [Match video]
      operationId: updateMatchVideoAlignment
      summary: Correct the saved source-to-video offset
      description: >-
        Recomputes the offset of the active attachment from a confirmed video
        time; no bytes move. Creator only, SwingVision matches only, in the
        match's own workspace. A no-op correction does not bump `version`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAlignmentRequest"
            examples:
              seconds:
                summary: Seconds as a number
                value:
                  attachmentId: 7c1d2e3f-4a5b-4c6d-8e7f-9a0b1c2d3e4f
                  expectedVersion: 2
                  confirmedVideoTimeSeconds: 64.25
              clock:
                summary: hh:mm:ss.sss as a string
                value:
                  attachmentId: 7c1d2e3f-4a5b-4c6d-8e7f-9a0b1c2d3e4f
                  expectedVersion: 2
                  confirmedVideoTimeSeconds: "00:01:04.250"
      responses:
        "200":
          description: The attachment after the correction.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivate"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateAlignmentResult"
              example:
                attachment:
                  id: 7c1d2e3f-4a5b-4c6d-8e7f-9a0b1c2d3e4f
                  version: 3
                  offsetSeconds: -42
                  confirmedVideoTimeSeconds: 64.25
                  durationSeconds: 5421.04
                  contentType: video/mp4
                  filename: spring-open-r16.mp4
        "400":
          $ref: "#/components/responses/VideoInvalidRequest"
        "401":
          $ref: "#/components/responses/VideoUnauthenticated"
        "403":
          $ref: "#/components/responses/VideoMutationForbidden"
        "404":
          $ref: "#/components/responses/VideoMatchNotFound"
        "409":
          description: The caller's view of the active attachment is stale.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivate"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoErrorResponse"
              examples:
                stale:
                  $ref: "#/components/examples/StaleAttachment"
                modeConflict:
                  $ref: "#/components/examples/ModeConflict"
        "413":
          $ref: "#/components/responses/VideoRequestTooLarge"
        "422":
          description: The confirmed time or the match's timing cannot produce a valid alignment.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivate"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoErrorResponse"
              examples:
                invalidAlignment:
                  $ref: "#/components/examples/InvalidAlignment"
                missingSourceTiming:
                  $ref: "#/components/examples/MissingSourceTiming"
                insufficientCoverage:
                  $ref: "#/components/examples/InsufficientCoverage"
                unsupportedMedia:
                  $ref: "#/components/examples/UnsupportedMedia"
        "500":
          $ref: "#/components/responses/VideoInternalError"
        "503":
          $ref: "#/components/responses/VideoStorageUnavailable"

  /api/matches/{matchId}/video/uploads:
    parameters:
      - $ref: "#/components/parameters/MatchId"
    post:
      tags: [Match video]
      operationId: reserveMatchVideoUpload
      summary: Reserve an upload attempt and get a write-only URL
      description: >-
        Creates (201) or finds again (200, same `clientRequestId`) a pending
        attempt and returns a write-only SAS URL for its staged key. Unknown
        body keys are refused by name. `expectedActive` must be present:
        `null` claims the match has no video, and an add is refused at the
        workspace's active-video limit.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReserveUploadRequest"
            examples:
              add:
                summary: First video on a match
                value:
                  filename: spring-open-r16.mp4
                  sizeBytes: 2147483648
                  contentType: video/mp4
                  clientRequestId: 3f2e1d0c-9b8a-4765-8432-10fedcba9876
                  expectedActive: null
              replace:
                summary: Replacing the active video
                value:
                  filename: spring-open-r16-full.mov
                  sizeBytes: 3221225472
                  contentType: video/quicktime
                  clientRequestId: 4a3b2c1d-0e9f-4876-9543-21fedcba9876
                  expectedActive:
                    id: 7c1d2e3f-4a5b-4c6d-8e7f-9a0b1c2d3e4f
                    version: 3
      responses:
        "200":
          description: An identical retry found the existing reservation.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivate"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadCredential"
              example:
                attachmentId: 9e8d7c6b-5a4f-4e3d-8c2b-1a0f9e8d7c6b
                uploadUrl: https://example.blob.core.windows.net/match-videos/staged/9e8d7c6b.mp4?sv=2025-01-05&sp=cw&sig=REDACTED
                uploadExpiresAt: "2026-09-29T20:00:00.000Z"
        "201":
          description: A new pending attempt was reserved.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivate"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadCredential"
              example:
                attachmentId: 9e8d7c6b-5a4f-4e3d-8c2b-1a0f9e8d7c6b
                uploadUrl: https://example.blob.core.windows.net/match-videos/staged/9e8d7c6b.mp4?sv=2025-01-05&sp=cw&sig=REDACTED
                uploadExpiresAt: "2026-09-29T20:00:00.000Z"
        "400":
          $ref: "#/components/responses/VideoInvalidRequest"
        "401":
          $ref: "#/components/responses/VideoUnauthenticated"
        "403":
          $ref: "#/components/responses/VideoMutationForbidden"
        "404":
          $ref: "#/components/responses/VideoMatchNotFound"
        "409":
          description: Another attempt, a replacement race, or the workspace limit.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivate"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoErrorResponse"
              examples:
                stale:
                  $ref: "#/components/examples/StaleAttachment"
                pendingAttempt:
                  $ref: "#/components/examples/PendingAttemptConflict"
                limitReached:
                  $ref: "#/components/examples/AttachmentLimitReached"
        "413":
          $ref: "#/components/responses/VideoFileTooLarge"
        "422":
          description: The file's extension is not an accepted container (.mp4, .mov, .m4v, .mkv, .webm).
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivate"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoErrorResponse"
              examples:
                unsupportedMedia:
                  $ref: "#/components/examples/UnsupportedMedia"
        "500":
          $ref: "#/components/responses/VideoInternalError"
        "503":
          $ref: "#/components/responses/VideoStorageUnavailable"

  /api/matches/{matchId}/video/uploads/{attachmentId}:
    parameters:
      - $ref: "#/components/parameters/MatchId"
      - $ref: "#/components/parameters/AttachmentId"
    delete:
      tags: [Match video]
      operationId: cancelMatchVideoUpload
      summary: Cancel a pending upload attempt
      description: >-
        Retires the caller's own pending attempt. Idempotent: an already
        retired attempt answers 200 again. The staged blob is collected later
        by the cleanup worker, never here. Send `Content-Type:
        application/json` with no body or `{}`.
      requestBody:
        $ref: "#/components/requestBodies/NoMetadata"
      responses:
        "200":
          description: The attempt is retired.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivate"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CancelUploadResult"
              example:
                attachmentId: 9e8d7c6b-5a4f-4e3d-8c2b-1a0f9e8d7c6b
                state: retired
        "400":
          $ref: "#/components/responses/VideoInvalidRequest"
        "401":
          $ref: "#/components/responses/VideoUnauthenticated"
        "403":
          $ref: "#/components/responses/VideoMutationForbidden"
        "404":
          $ref: "#/components/responses/VideoMatchNotFound"
        "409":
          $ref: "#/components/responses/VideoAttemptConflict"
        "413":
          $ref: "#/components/responses/VideoRequestTooLarge"
        "500":
          $ref: "#/components/responses/VideoInternalError"
        "503":
          $ref: "#/components/responses/VideoStorageUnavailable"

  /api/matches/{matchId}/video/uploads/{attachmentId}/renew:
    parameters:
      - $ref: "#/components/parameters/MatchId"
      - $ref: "#/components/parameters/AttachmentId"
    post:
      tags: [Match video]
      operationId: renewMatchVideoUpload
      summary: Extend a pending attempt's write window
      description: >-
        Re-signs the same staged key with a later expiry. Nothing about the
        attempt may change, so the body is absent or `{}`. Refused for an
        active or retired row, and while a completion holds the attempt.
      requestBody:
        $ref: "#/components/requestBodies/NoMetadata"
      responses:
        "200":
          description: A fresh write-only URL for the same staged key.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivate"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadCredential"
              example:
                attachmentId: 9e8d7c6b-5a4f-4e3d-8c2b-1a0f9e8d7c6b
                uploadUrl: https://example.blob.core.windows.net/match-videos/staged/9e8d7c6b.mp4?sv=2025-01-05&sp=cw&sig=REDACTED
                uploadExpiresAt: "2026-09-30T02:00:00.000Z"
        "400":
          $ref: "#/components/responses/VideoInvalidRequest"
        "401":
          $ref: "#/components/responses/VideoUnauthenticated"
        "403":
          $ref: "#/components/responses/VideoMutationForbidden"
        "404":
          $ref: "#/components/responses/VideoMatchNotFound"
        "409":
          $ref: "#/components/responses/VideoAttemptConflict"
        "413":
          $ref: "#/components/responses/VideoRequestTooLarge"
        "500":
          $ref: "#/components/responses/VideoInternalError"
        "503":
          $ref: "#/components/responses/VideoStorageUnavailable"

  /api/matches/{matchId}/video/uploads/{attachmentId}/complete:
    parameters:
      - $ref: "#/components/parameters/MatchId"
      - $ref: "#/components/parameters/AttachmentId"
    post:
      tags: [Match video]
      operationId: completeMatchVideoUpload
      summary: Verify, publish and activate an uploaded video
      description: >-
        Verifies the staged bytes, copies them to the immutable final key and
        makes the attempt the match's active video. The copy runs inside
        Azure: while it does, the answer is `202` with a `Retry-After` header
        and the client re-sends the SAME request after `retryAfterSeconds`.
        Each request holds a per-request finalization lease (90 s) and
        releases it before answering. A replay after a lost `200` answers
        `200` again while that attachment is still active.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompleteUploadRequest"
            example:
              confirmedVideoTimeSeconds: 63.5
              expectedActive: null
      responses:
        "200":
          description: The attachment is published and active.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivate"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompleteUploadCommitted"
              example:
                status: committed
                attachment:
                  id: 9e8d7c6b-5a4f-4e3d-8c2b-1a0f9e8d7c6b
                  version: 1
                  offsetSeconds: -41.25
                  confirmedVideoTimeSeconds: 63.5
                  durationSeconds: 5421.04
                  contentType: video/mp4
                  filename: spring-open-r16.mp4
        "202":
          description: >-
            The server-side copy is still running. Nothing failed; re-send the
            same request after `Retry-After` seconds.
          headers:
            Retry-After:
              $ref: "#/components/headers/RetryAfter"
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivate"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompleteUploadPending"
              example:
                status: pending
                attachmentId: 9e8d7c6b-5a4f-4e3d-8c2b-1a0f9e8d7c6b
                retryAfterSeconds: 2
        "400":
          $ref: "#/components/responses/VideoInvalidRequest"
        "401":
          $ref: "#/components/responses/VideoUnauthenticated"
        "403":
          $ref: "#/components/responses/VideoMutationForbidden"
        "404":
          $ref: "#/components/responses/VideoMatchNotFound"
        "409":
          description: >-
            The staged bytes or the active attachment changed, another request
            holds the lease, the attempt is no longer pending, or an add would
            exceed the workspace's video limit.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivate"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoErrorResponse"
              examples:
                stale:
                  $ref: "#/components/examples/StaleAttachment"
                pendingAttempt:
                  $ref: "#/components/examples/PendingAttemptConflict"
                modeConflict:
                  $ref: "#/components/examples/ModeConflict"
                limitReached:
                  $ref: "#/components/examples/AttachmentLimitReached"
        "413":
          $ref: "#/components/responses/VideoFileTooLarge"
        "422":
          description: The uploaded file cannot be played, or cannot be aligned to the match.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivate"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoErrorResponse"
              examples:
                unsupportedMedia:
                  $ref: "#/components/examples/UnsupportedMedia"
                mediaProbeBudget:
                  $ref: "#/components/examples/MediaProbeBudget"
                invalidAlignment:
                  $ref: "#/components/examples/InvalidAlignment"
                missingSourceTiming:
                  $ref: "#/components/examples/MissingSourceTiming"
                insufficientCoverage:
                  $ref: "#/components/examples/InsufficientCoverage"
        "500":
          $ref: "#/components/responses/VideoInternalError"
        "503":
          $ref: "#/components/responses/VideoStorageUnavailable"

  /api/matches/{matchId}/video/viewed:
    parameters:
      - $ref: "#/components/parameters/MatchId"
    post:
      tags: [Match video]
      operationId: recordMatchVideoView
      summary: Count a view of the active video
      description: >-
        Restarts the active video's retention clock. For anyone who can see
        the match. No body is read, so there is no 400 or 413. A match with no
        active video answers `{"view": null}` and nothing is written.
      responses:
        "200":
          description: The view was recorded, or there is no active video.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivate"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecordViewResult"
              examples:
                recorded:
                  summary: A view was counted
                  value:
                    view:
                      attachmentId: 7c1d2e3f-4a5b-4c6d-8e7f-9a0b1c2d3e4f
                      lastViewedAt: "2026-09-29T14:02:11.482Z"
                none:
                  summary: No active video
                  value:
                    view: null
        "401":
          $ref: "#/components/responses/VideoUnauthenticated"
        "403":
          $ref: "#/components/responses/VideoMutationForbidden"
        "404":
          $ref: "#/components/responses/VideoMatchNotFound"
        "500":
          $ref: "#/components/responses/VideoInternalError"
        "503":
          $ref: "#/components/responses/VideoStorageUnavailable"

  /api/upload:
    post:
      tags: [Uploads]
      operationId: uploadMatchFile
      summary: Upload a match's SwingVision .xlsx
      description: >-
        Stores the file for a match the caller created and, after the
        response, invokes the `process-match` edge function to extract points
        and shots. Once per match: a match that already has a file or points
        is refused with 409. Only import providers are accepted.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/UploadRequest"
            encoding:
              file:
                contentType: application/vnd.openxmlformats-officedocument.spreadsheetml.sheet
            example:
              matchId: 5b0f4c1e-8a7d-4b43-9f7e-1c2d3e4f5a6b
              providerId: swing-vision
              file: (binary)
      responses:
        "200":
          description: The file is stored; processing runs after the response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadResponse"
              example:
                success: true
                fileId: 1a2b3c4d-5e6f-4a7b-8c9d-0e1f2a3b4c5d
                storagePath: 0e9a2b7c-4d1f-4a8e-9b3c-2f1e0d9c8b7a/5b0f4c1e-8a7d-4b43-9f7e-1c2d3e4f5a6b/match.xlsx
        "400":
          description: A form field is missing, the provider is not an import provider, or the file fails the provider's checks.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LegacyErrorResponse"
              examples:
                noFile:
                  value:
                    success: false
                    error: No file provided
                noMatchId:
                  value:
                    success: false
                    error: No matchId provided
                noProviderId:
                  value:
                    success: false
                    error: No providerId provided
                unknownProvider:
                  value:
                    success: false
                    error: "Unsupported provider: atp-tour"
                notImport:
                  summary: A processing provider, whose video never comes through here
                  value:
                    success: false
                    error: Unsupported provider
                invalidFile:
                  value:
                    success: false
                    error: Invalid file type. SwingVision requires .xlsx files.
        "401":
          $ref: "#/components/responses/LegacyUnauthorized"
        "403":
          description: The caller can see the match but did not create it.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LegacyErrorResponse"
              example:
                success: false
                error: You can only upload files to your own matches
        "404":
          description: The match does not exist for this caller.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LegacyErrorResponse"
              example:
                success: false
                error: Match not found
        "409":
          description: The match already has a file or statistics.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LegacyErrorResponse"
              example:
                success: false
                error: This match already has a file
        "500":
          description: A read or the storage write failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LegacyErrorResponse"
              examples:
                loadMatch:
                  value:
                    success: false
                    error: Failed to load match
                checkExisting:
                  value:
                    success: false
                    error: Failed to check for an existing file
                store:
                  value:
                    success: false
                    error: Failed to store the file
                unexpected:
                  value:
                    success: false
                    error: Internal server error

  /api/validate-file:
    post:
      tags: [Uploads]
      operationId: validateSwingVisionFile
      summary: Validate a SwingVision .xlsx before upload
      description: >-
        Checks the workbook's sheets and required columns. The file arrives as
        base64 (a data URL is accepted) and is refused before decoding when
        it exceeds SwingVision's 50 MB ceiling. The verdict is advisory; the
        upload route validates again.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ValidateFileRequest"
            example:
              file: data:application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;base64,UEsDBBQABgAIAAAAIQ...
              fileName: match-export.xlsx
      responses:
        "200":
          description: The workbook passed validation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidateFileResponse"
              example:
                success: true
                message: File validation passed
                sheets_validated: [Settings, Shots, Points, Games, Sets, Stats]
                total_rows:
                  Settings: 1
                  Shots: 812
                  Points: 142
                  Games: 22
                  Sets: 2
                  Stats: 48
        "400":
          description: >-
            A required field is missing, or the workbook failed validation —
            the body then carries the validator's detail beside `error`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidateFileResponse"
              examples:
                missingFields:
                  value:
                    success: false
                    error: File data and file name are required
                missingSheets:
                  value:
                    success: false
                    error: "Missing required sheets: Games. Required sheets: Settings, Shots, Points, Games, Sets, Stats"
                    found_sheets: [Settings, Shots, Points, Sets, Stats]
                    required_sheets:
                      [Settings, Shots, Points, Games, Sets, Stats]
                    missing_sheets: [Games]
        "401":
          $ref: "#/components/responses/LegacyUnauthorized"
        "413":
          description: The base64 payload is larger than a 50 MB file can produce.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LegacyErrorResponse"
              example:
                success: false
                error: File too large. Maximum size is 50MB.
        "500":
          description: The body was not JSON, or the workbook could not be parsed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LegacyErrorResponse"
              example:
                success: false
                error: Failed to validate file. Please try again.

  /api/programs/search:
    get:
      tags: [Programs]
      operationId: searchPrograms
      summary: Search the college program directory
      description: >-
        Public — the claim flow runs before an account exists. Up to 8 rows;
        a term under two characters answers `{"results": []}` without a
        query. A failed search also answers an empty list. `intent=join`
        returns the redacted player view (no owner, one `onAdvantage`
        boolean); any other value is the coach view. Cached publicly for five
        minutes per URL.
      security: []
      parameters:
        - name: q
          in: query
          required: false
          description: Search term, matched anywhere in the school name or abbreviation.
          schema:
            type: string
          example: angeles
        - name: intent
          in: query
          required: false
          description: "`join` for the redacted player view; anything else is the coach view."
          schema:
            type: string
          example: join
      responses:
        "200":
          description: Matching programs.
          headers:
            Cache-Control:
              description: "`public, s-maxage=300, stale-while-revalidate=3600`"
              schema:
                type: string
                const: public, s-maxage=300, stale-while-revalidate=3600
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProgramSearchResponse"
              examples:
                coach:
                  summary: Coach intent (default)
                  value:
                    results:
                      - programKey: ucla-womens
                        schoolName: University of California, Los Angeles
                        team: womens
                        division: D1
                        conference: Big Ten
                        state: CA
                        status: active
                        ownerDisplay: Coach Elena Vasquez
                join:
                  summary: "`intent=join`"
                  value:
                    results:
                      - programKey: ucla-womens
                        schoolName: University of California, Los Angeles
                        team: womens
                        division: D1
                        conference: Big Ten
                        state: CA
                        onAdvantage: true

  /api/programs/custom-search:
    get:
      tags: [Programs]
      operationId: searchCustomPrograms
      summary: Search existing custom orgs
      description: >-
        Signed-in only. Lets a coach about to create a club, high school or
        academy find one a colleague already made. Up to 8 rows; a term under
        two characters, or a failed search, answers `{"results": []}`. Never
        cached.
      parameters:
        - name: q
          in: query
          required: false
          description: Search term, matched against the org name.
          schema:
            type: string
          example: centennial
        - name: type
          in: query
          required: false
          description: Narrow to one custom org type. Any other value searches every type.
          schema:
            $ref: "#/components/schemas/CustomOrgType"
          example: club
      responses:
        "200":
          description: Matching custom orgs.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivate"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomProgramSearchResponse"
              example:
                results:
                  - programId: 2d3e4f5a-6b7c-4d8e-9f0a-1b2c3d4e5f6a
                    name: Centennial Tennis Club
                    orgType: club
                    ownerDisplay: Elena V.
        "401":
          description: No session.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivate"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: Unauthorized

  /api/splitstep/jobs:
    post:
      tags: [Video analysis]
      operationId: submitAnalysisJob
      summary: Submit an uploaded match video for analysis
      description: >-
        Spends a workspace's video allowance and hands the job to the
        Advantage Intelligence vendor. The upload wizard calls it the moment a
        transfer finishes; the `processing_jobs` row and the Azure blob
        already exist. The ladder (`handler.ts`): sign-in → body → job id →
        deployment config → the caller's own job → submittable → match →
        the three vendor answers → payload build → the match's billing
        workspace → the upload contract → a compare-and-set claim
        (`uploaded → submitting`) → quota reservation → vendor URL → vendor
        POST. Every refusal before the claim leaves the row `uploaded`; a
        refused or failed reservation hands the claim back to `uploaded`; only
        a failure past the reservation marks the job `failed` (502). Billed to
        the MATCH's workspace, never the active one.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubmitJobRequest"
            examples:
              firstSubmit:
                summary: The wizard's first submit carries the three answers
                value:
                  jobId: 3c4d5e6f-7a8b-4c9d-8e0f-1a2b3c4d5e6f
                  initialTopPlayerIsPlayer1: true
                  adScoring: true
                  fixedCamera: true
              retry:
                summary: A retry sends none; the job or match row supplies them
                value:
                  jobId: 3c4d5e6f-7a8b-4c9d-8e0f-1a2b3c4d5e6f
      responses:
        "200":
          description: The vendor accepted the job; the row is `queued`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmitJobResponse"
              example:
                jobId: 3c4d5e6f-7a8b-4c9d-8e0f-1a2b3c4d5e6f
                externalJobId: ss-job-81f2c0
                status: queued
                billableSeconds: 5182
                usedSeconds: 5182
                capSeconds: 7200
        "400":
          description: >-
            The body is not JSON, has no `jobId`, or neither the body, the job
            row nor the match row records which player starts at the top of
            the frame (refused, never defaulted).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                invalidJson:
                  value:
                    error: Invalid JSON body
                noJobId:
                  value:
                    error: jobId is required
                noOrientation:
                  value:
                    error: initialTopPlayerIsPlayer1 is required and must be a boolean
        "401":
          $ref: "#/components/responses/SplitstepNotSignedIn"
        "403":
          description: >-
            A decided refusal: the caller holds no workspace the match
            belongs to, the upload contract refuses the row (program status,
            role, line, athlete), the allowance is not open to this caller
            (`reserveQuota()`'s permission refusal, which carries
            `usedSeconds` and `capSeconds` of 0), or an admin-console video
            operation does not line up with this job.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                noBillingWorkspace:
                  $ref: "#/components/examples/NoBillingWorkspace"
                notOnRoster:
                  $ref: "#/components/examples/AthleteNotOnRoster"
                pendingApproval:
                  $ref: "#/components/examples/PendingApproval"
                notPermitted:
                  summary: The allowance is not open to this player
                  value:
                    error: Sending video for Stanford Women's Tennis isn't switched on for your account. A coach can turn on "Can send video" on your roster row.
                    usedSeconds: 0
                    capSeconds: 0
                adminUnavailable:
                  summary: The admin-console video check threw
                  value:
                    error: This video operation is unavailable.
                adminMismatch:
                  summary: The admin-console operation names another match or job
                  value:
                    error: Video operation mismatch
        "404":
          $ref: "#/components/responses/SplitstepJobNotFound"
        "409":
          description: >-
            The job is not in a state a submission accepts, or another
            submission holds it. Nothing was spent.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                alreadySubmitted:
                  summary: The job already has a vendor id, or already holds a reservation (23505)
                  value:
                    error: This match has already been submitted for analysis.
                stillUploading:
                  value:
                    error: The video is still uploading. Try again once it finishes.
                wrongStatus:
                  summary: Any status other than `uploaded` or `uploading`
                  value:
                    error: This job is failed and cannot be submitted.
                noVideo:
                  value:
                    error: No video is attached to this job.
                noTrim:
                  value:
                    error: This job has no trim window set.
                claimLost:
                  summary: A concurrent POST won the compare-and-set claim
                  value:
                    error: This match is already being submitted.
                adminAnswers:
                  summary: An admin-console job sent answers that differ from the saved ones
                  value:
                    error: Use this operation's saved video answers.
                adminClaim:
                  summary: The admin-console claim was refused
                  value:
                    error: This video is already being submitted or is no longer eligible.
        "422":
          description: >-
            `buildSplitStepJobRequest()` refused the payload — a doubles match,
            a trim that disagrees with the score, or a missing vendor answer.
            Nothing was spent.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobNotAnalysableResponse"
              example:
                error: This match cannot be analysed yet.
                details:
                  - Video analysis supports singles matches only.
        "429":
          $ref: "#/components/responses/QuotaExhausted"
        "500":
          description: The job or its match could not be read.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                job:
                  value:
                    error: Could not load the job
                match:
                  value:
                    error: Could not load the match for this job.
        "502":
          description: >-
            Past the reservation: the vendor URL could not be minted, the
            vendor refused the POST, or its answer carried no job id. The
            reservation is handed back and the job is marked `failed`. The
            vendor's own text stays in the server log.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: Could not submit this match for analysis.
                code: vendor_rejected
        "503":
          description: >-
            Try again: analysis is not configured on this deployment, the
            roster or program status could not be read, the claim write
            failed, the reservation RPC gave no answer, or (admin console
            only) the vendor accepted the job but its `queued` status could
            not be saved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                notConfigured:
                  $ref: "#/components/examples/AnalysisNotConfigured"
                rosterUnknown:
                  $ref: "#/components/examples/RosterUnknown"
                claimFailed:
                  value:
                    error: Could not start the submission. Try again.
                reservationFailed:
                  value:
                    error: Could not reserve analysis time. Try again.
                adminReconcile:
                  value:
                    error: The provider accepted this video, but its status could not be saved. Administrator reconciliation is required.

  /api/splitstep/jobs/{jobId}/resubmit:
    parameters:
      - $ref: "#/components/parameters/JobId"
    post:
      tags: [Video analysis]
      operationId: resubmitAnalysisJob
      summary: Retry a failed analysis
      description: >-
        The "Retry analysis" button. Ownership and the billing workspace are
        resolved here from the session; everything else — terminal state,
        attempt ceiling, duplicate guard, blob existence, the upload contract,
        quota and the vendor POST — is `resubmitJob()`, shared with the
        webhook's automatic retry. A success is a NEW child job. No body is
        read. Every refusal from `resubmitJob()` answers `{ error, reason }`
        with the status `REFUSAL_STATUS` maps `reason` to.
      responses:
        "200":
          description: The child job was submitted and is `queued`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResubmitJobResponse"
              example:
                jobId: 4d5e6f7a-8b9c-4d0e-9f1a-2b3c4d5e6f7a
                externalJobId: ss-job-81f2d7
                status: queued
        "401":
          $ref: "#/components/responses/SplitstepNotSignedIn"
        "403":
          description: >-
            The caller holds no workspace the match belongs to, or the upload
            contract refuses the row (`not_eligible`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResubmitRefusalResponse"
              examples:
                noBillingWorkspace:
                  $ref: "#/components/examples/NoBillingWorkspace"
                notEligible:
                  summary: not_eligible
                  value:
                    error: That player isn't on Stanford Women's Tennis's roster, so the match can't be recorded for them.
                    reason: not_eligible
        "404":
          description: >-
            The id is not a UUID, the job or its match does not exist, the
            job is not the caller's, or its uploader's account is gone
            (`not_found`). Indistinguishable on purpose.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResubmitRefusalResponse"
              examples:
                route:
                  summary: Answered by the route
                  value:
                    error: Job not found
                notFound:
                  summary: not_found
                  value:
                    error: Job not found.
                    reason: not_found
        "409":
          description: >-
            The failed job cannot be retried as it stands: it is not
            `failed` (`not_failed`), the vendor rejected the recording itself
            (`input_rejected`), another analysis for the match is live
            (`in_flight_duplicate`), the chain is at its three-attempt ceiling
            (`attempt_ceiling`), or the source video is missing or could not
            be checked (`video_unavailable`). `already_auto_resubmitted` maps
            here too but only the webhook's automatic path can produce it.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResubmitRefusalResponse"
              examples:
                notFailed:
                  summary: not_failed
                  value:
                    error: Only a failed analysis can be retried; this one is completed.
                    reason: not_failed
                inputRejected:
                  summary: input_rejected
                  value:
                    error: This video didn't meet one of the recording requirements, so retrying it would stop the same way. Upload a new recording instead.
                    reason: input_rejected
                inFlight:
                  summary: in_flight_duplicate
                  value:
                    error: An analysis for this match is already in progress.
                    reason: in_flight_duplicate
                ceiling:
                  summary: attempt_ceiling
                  value:
                    error: This match has been attempted the maximum number of times. Contact support if the analysis keeps failing.
                    reason: attempt_ceiling
                videoGone:
                  summary: video_unavailable
                  value:
                    error: The original video is no longer stored, so this analysis cannot be retried. Upload the match again.
                    reason: video_unavailable
        "422":
          description: >-
            The match cannot be rebuilt into a vendor request
            (`invalid_metadata`): it could not be read, it has no orientation
            answer, or the builder refused it.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResubmitRefusalResponse"
              example:
                error: This match is missing its camera-orientation answer and cannot be retried automatically.
                reason: invalid_metadata
        "429":
          description: >-
            The reservation was refused (`quota`) — for the manual path, the
            allowance is spent or not open to this caller. The child row is
            removed. Unlike `/api/splitstep/jobs`, a permission refusal here is
            also 429, and the body carries no figures.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResubmitRefusalResponse"
              example:
                error: This match needs 1 hr 35 min of analysis but only 20 min is left in your monthly allowance (2 hr). It resets at the start of next month; a shorter trim will fit sooner.
                reason: quota
        "500":
          description: The job could not be read.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: Could not load the job
        "502":
          description: >-
            `submit_failed`: the retry history, the live-job check or the
            child insert failed, or the vendor refused the POST (the child is
            then marked `failed` and its reservation handed back).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResubmitRefusalResponse"
              examples:
                vendor:
                  value:
                    error: Could not submit the retry to the analysis provider.
                    reason: submit_failed
                history:
                  value:
                    error: Could not read this job’s retry history.
                    reason: submit_failed
        "503":
          description: >-
            Try again: the match read failed (answered by the route, before
            any billing workspace is chosen), analysis is not configured
            (`not_configured`), the reservation RPC gave no answer
            (`quota_unavailable`), or the roster or program status could not
            be read (`eligibility_unknown`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResubmitRefusalResponse"
              examples:
                matchRead:
                  summary: Answered by the route
                  value:
                    error: Could not load the match. Try again.
                notConfigured:
                  summary: not_configured
                  value:
                    error: Analysis is not configured on this deployment.
                    reason: not_configured
                quotaUnavailable:
                  summary: quota_unavailable
                  value:
                    error: Could not reserve analysis time. Try again.
                    reason: quota_unavailable
                eligibilityUnknown:
                  summary: eligibility_unknown
                  value:
                    error: We couldn't load Stanford Women's Tennis's roster. Try again.
                    reason: eligibility_unknown

  /api/splitstep/jobs/{jobId}/rederive:
    parameters:
      - $ref: "#/components/parameters/JobId"
    post:
      tags: [Video analysis]
      operationId: rederiveAnalysisJob
      summary: Rebuild a job's statistics from delivered results
      description: >-
        The "Rebuild statistics" button on a `derivation_failed` job whose
        build crashed. Re-runs `deriveAndPublish()` on the stored vendor
        results: no vendor call, no allowance, no attempt counted. A
        compare-and-set claim (`derivation_failed → deriving`) keeps two
        clicks from both deriving. No body is read.
      responses:
        "200":
          description: The statistics were rebuilt and the job is `completed`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RederiveResponse"
              example:
                jobId: 3c4d5e6f-7a8b-4c9d-8e0f-1a2b3c4d5e6f
                status: completed
        "401":
          $ref: "#/components/responses/SplitstepNotSignedIn"
        "404":
          $ref: "#/components/responses/SplitstepJobNotFound"
        "409":
          description: The job is not rebuildable, or a rebuild already holds it.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                notWaiting:
                  summary: Not `derivation_failed`
                  value:
                    error: This match isn't waiting on a statistics rebuild.
                notRederive:
                  summary: The failure is not one a rebuild fixes
                  value:
                    error: The statistics can't be rebuilt for this match.
                noResults:
                  value:
                    error: The analysis results for this match are no longer available to rebuild from.
                claimLost:
                  summary: Another click won the claim
                  value:
                    error: The statistics are already rebuilding.
        "500":
          description: >-
            The job could not be read, the claim write failed, or the rebuild
            itself failed — the row is then back at `derivation_failed` and
            the body says so.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RederiveFailedResponse"
              examples:
                load:
                  value:
                    error: Could not load the job
                claim:
                  value:
                    error: Could not start the rebuild
                derive:
                  value:
                    error: The statistics could not be rebuilt.
                    status: derivation_failed

  /api/splitstep/upload-url:
    post:
      tags: [Video analysis]
      operationId: createAnalysisUploadUrl
      summary: Mint a write-only upload URL for a match video
      description: >-
        Returns a `cw` SAS for exactly one blob name and records that name on
        the match's live job before the bytes move. The same questions the
        submit route asks — the match's workspace, the upload contract, the
        video permission and (as a read, failing open) the allowance — are
        asked here first, because the step after the credential is a
        multi-gigabyte transfer. Nothing is reserved; `/api/splitstep/jobs`
        remains the authority. The URL is a credential: never log it.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UploadUrlRequest"
            example:
              matchId: 5b0f4c1e-8a7d-4b43-9f7e-1c2d3e4f5a6b
              fileName: spring-open-r16.mp4
      responses:
        "200":
          description: A write-only URL for the named blob.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadUrlResponse"
              example:
                uploadUrl: https://example.blob.core.windows.net/splitstep-videos/videos/0e9a2b7c-4d1f-4a8e-9b3c-2f1e0d9c8b7a/5b0f4c1e-8a7d-4b43-9f7e-1c2d3e4f5a6b/original.mp4?sv=2025-01-05&sp=cw&sig=REDACTED
                videoObjectKey: videos/0e9a2b7c-4d1f-4a8e-9b3c-2f1e0d9c8b7a/5b0f4c1e-8a7d-4b43-9f7e-1c2d3e4f5a6b/original.mp4
                expiresAt: "2026-09-29T21:00:00.000Z"
        "400":
          description: The body is not JSON, a field is missing, or the file is not an accepted container.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                invalidJson:
                  value:
                    error: Invalid JSON body
                missing:
                  value:
                    error: matchId and fileName are required
                container:
                  value:
                    error: 'Unsupported video container for "match.avi". Expected one of .mp4, .mov, .m4v, .mkv, .webm.'
        "401":
          $ref: "#/components/responses/SplitstepNotSignedIn"
        "403":
          description: >-
            The caller holds no workspace the match belongs to, the upload
            contract refuses the row, the workspace's video allowance is not
            open to this caller (`explainVideoRefusal()`), or the admin-console
            video check threw.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                noBillingWorkspace:
                  $ref: "#/components/examples/NoBillingWorkspace"
                notOnRoster:
                  $ref: "#/components/examples/AthleteNotOnRoster"
                pendingApproval:
                  $ref: "#/components/examples/PendingApproval"
                notPermitted:
                  summary: A player whose "Can send video" is off
                  value:
                    error: Sending video for Stanford Women's Tennis isn't switched on for your account. A coach can turn on "Can send video" on your roster row.
                adminUnavailable:
                  value:
                    error: No such video operation
        "404":
          description: >-
            `matchId` is not a UUID, the match does not exist, or it is not
            the caller's. Indistinguishable on purpose.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: No such match
        "409":
          description: >-
            Admin console only: the blob name could not be recorded on the
            operation's job. (For an ordinary upload that failure is logged
            and the URL is still returned.)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: Could not reserve the video upload
        "429":
          $ref: "#/components/responses/QuotaExhausted"
        "500":
          description: The match could not be read.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: Could not load match
        "503":
          description: >-
            Try again: the roster or program status could not be read, or
            Azure storage is not configured on this deployment.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                rosterUnknown:
                  $ref: "#/components/examples/RosterUnknown"
                storage:
                  value:
                    error: Video upload is not configured on this deployment.

  /api/splitstep/hours-left:
    get:
      tags: [Video analysis]
      operationId: getVideoHoursLeft
      summary: Video analysis time left this month
      description: >-
        For the header's Beta pill: the ACTIVE workspace's remaining seconds
        from `peekQuota()` — for an individual, the tighter of their own cap
        and the shared beta band. Advisory; `reserveQuota()` still decides at
        submit. `workspaceId` lets the pill drop an answer for a workspace it
        has since left.
      responses:
        "200":
          description: The active workspace's figures.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlNoStore"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HoursLeft"
              examples:
                personal:
                  summary: An individual with time left
                  value:
                    workspaceId: 0e9a2b7c-4d1f-4a8e-9b3c-2f1e0d9c8b7a
                    remainingSeconds: 1200
                    capSeconds: 7200
                    bandFull: false
                bandFull:
                  summary: The shared beta band ran out first
                  value:
                    workspaceId: 0e9a2b7c-4d1f-4a8e-9b3c-2f1e0d9c8b7a
                    remainingSeconds: 0
                    capSeconds: 7200
                    bandFull: true
        "401":
          $ref: "#/components/responses/SplitstepNotSignedIn"
        "503":
          description: The usage ledger could not be read.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: Could not read usage

  /api/webhooks/splitstep:
    get:
      tags: [Webhooks]
      operationId: splitstepWebhookLiveness
      summary: Liveness check for the vendor webhook URL
      description: >-
        Lets the endpoint URL be confirmed reachable before anything is
        wired. Unauthenticated, and says nothing a holder of the URL does not
        already know.
      security: []
      responses:
        "200":
          description: The endpoint is up.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SplitstepWebhookLiveness"
              example:
                endpoint: splitstep-webhook
                status: ready
                method: POST
    post:
      tags: [Webhooks]
      operationId: receiveSplitstepWebhook
      summary: Receive a vendor job-state delivery
      description: >-
        The Advantage Intelligence vendor POSTs here when a job changes state
        (`job_queued`, `job_processing`, `job_completed`, `job_failed`). The
        shape is verify → record → 200 → everything else in `after()`: the
        vendor has a 30 s timeout and no retry policy, so the only work before
        the answer is recording the envelope, which is what makes the rest
        recoverable by hand.


        **Authentication** (`webhook-auth.ts`). With
        `SPLITSTEP_WEBHOOK_SECRET` set the endpoint fails closed: the
        signature (`x-hmac-signature`, see `splitstepHmac`) must match, and a
        delivery with no signature header is refused too — unless
        `SPLITSTEP_WEBHOOK_ALLOW_UNSIGNED=true`, the pilot escape hatch, which
        accepts it recorded `signature_verified = false`. A header carrying
        the raw shared secret instead of an HMAC is accepted but recorded
        unverified. With no secret configured at all the endpoint is open and
        logs a warning on every delivery.


        A delivery that matches no job is still recorded and answers 200 — a
        retry would orphan identically.
      security:
        - splitstepHmac: []
      requestBody:
        required: true
        description: >-
          Read as raw bytes and verified before any parsing; the HMAC is over
          exactly these bytes. Any body is recorded verbatim — a non-JSON or
          unrecognised one yields null fields, never a refusal.
          `parseWebhookPayload()` matches field names with case and
          punctuation ignored and walks nested objects.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SplitstepWebhookPayload"
            examples:
              completed:
                summary: job_completed (September 2026 API)
                value:
                  job_id: ss-job-81f2c0
                  event: job_completed
                  status: completed
                  strokes_url: https://vendor.blob.core.windows.net/results/ss-job-81f2c0/strokes.json?sv=2025-01-05&sp=r&sig=REDACTED
                  players_url: https://vendor.blob.core.windows.net/results/ss-job-81f2c0/players.json?sv=2025-01-05&sp=r&sig=REDACTED
                  trajectories_url: null
                  trimmed_video_url: https://vendor.blob.core.windows.net/results/ss-job-81f2c0/trimmed.mp4?sv=2025-01-05&sp=r&sig=REDACTED
              failed:
                summary: job_failed with a structured error
                value:
                  job_id: ss-job-81f2c0
                  event: job_failed
                  status: failed
                  error:
                    code: INTERNAL_ERROR
                    category: internal
                    step: downloading_video
                    message: We could not download the video. Please try again.
      responses:
        "200":
          description: >-
            The delivery is recorded. Results download, grading, derivation,
            quota release and any automatic retry run after this answer.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SplitstepWebhookAck"
              example:
                received: true
                deliveryId: 6e7f8a9b-0c1d-4e2f-8a3b-4c5d6e7f8a9b
        "400":
          description: The request body could not be read.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: Unreadable body
        "401":
          description: >-
            A secret is configured and the signature did not match, or no
            signature header was sent and `SPLITSTEP_WEBHOOK_ALLOW_UNSIGNED`
            is not `true`. One body for every cause; the reason is a server
            log line.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: Unauthorized
        "500":
          description: >-
            `record_splitstep_webhook` failed, so the envelope is not durable.
            The record call is idempotent, so a redelivery costs nothing.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: Failed to record delivery

  /api/webhooks/stripe:
    post:
      tags: [Webhooks]
      operationId: receiveStripeWebhook
      summary: Receive a Stripe event
      description: >-
        Verifies the `Stripe-Signature` header against
        `STRIPE_WEBHOOK_SECRET` over the raw body, then acts on
        `checkout.session.completed` only: the user named by
        `metadata.user_id` (or `client_reference_id`) is moved to Pro. Every
        other event type answers 200 untouched. Kept after checkout was
        retired, for receipts and any checkout already open. The module
        throws at load when `STRIPE_WEBHOOK_SECRET` is unset, so on such a
        deployment every request fails before this handler runs.
      security:
        - stripeSignature: []
      requestBody:
        required: true
        description: A Stripe `Event` object, verified as raw bytes.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StripeEvent"
            example:
              id: evt_1Q2w3E4r5T6y7U8i
              object: event
              type: checkout.session.completed
              data:
                object:
                  id: cs_test_a1B2c3D4
                  object: checkout.session
                  client_reference_id: 0e9a2b7c-4d1f-4a8e-9b3c-2f1e0d9c8b7a
                  metadata:
                    user_id: 0e9a2b7c-4d1f-4a8e-9b3c-2f1e0d9c8b7a
      responses:
        "200":
          description: The event was handled, or needed nothing.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StripeWebhookAck"
              examples:
                handled:
                  value:
                    received: true
                alreadyPro:
                  summary: The user was already on Pro
                  value:
                    received: true
                    message: Already Pro
        "400":
          description: >-
            No `Stripe-Signature` header, a signature that does not verify
            (the Stripe SDK's message follows `Webhook Error: `), or a
            completed checkout with no user id on it.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                noSignature:
                  value:
                    error: No signature
                badSignature:
                  value:
                    error: "Webhook Error: No signatures found matching the expected signature for payload."
                noUser:
                  value:
                    error: No user ID
        "404":
          description: The session's user id names no `users` row.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: User not found
        "500":
          description: The plan update failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: Failed to update user plan

  /api/cron/cleanup-match-videos:
    get:
      tags: [Cron]
      operationId: runMatchVideoCleanup
      summary: Daily match-video retention and cleanup sweep
      description: >-
        Scheduled by `vercel.json` at 05:00 UTC. Expires videos a year
        unwatched, warns those 30 days from it, then sweeps retired and
        abandoned attachments out of storage. The bearer check runs first and
        fails closed: an unset or blank `CRON_SECRET` refuses every request,
        and no step — nor the service-role client — runs until it matches.
        The three steps are independent: a failed expire or warn step is
        reported as a 500 but the sweep still runs. A 200 can still count
        rows that failed and were backed off.
      security:
        - cronBearer: []
      responses:
        "200":
          description: Every step ran.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivate"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CleanupCronBody"
              example:
                ok: true
                reason: cron
                expired: 1
                warned: 2
                emailed: 2
                claimed: 4
                outcomes:
                  cleaned_up: 3
                  staged_shed: 0
                  rescheduled: 1
                  lease_lost: 0
                  version_changed: 0
                  failed: 0
                  unsettled: 0
                rpcFailures: 0
                durationMs: 1843
        "401":
          description: >-
            `CRON_SECRET` is unset, or the `Authorization` header is missing,
            not a bearer, empty or wrong. One body for every cause.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivate"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CleanupCronError"
              example:
                ok: false
                error: unauthorized
        "500":
          description: >-
            The sweep threw (`cleanup_failed`, no counts), or it ran but the
            batch claim was refused (`claim_failed`) or the expire or warn
            step threw (`expiry_failed` / `warning_failed`) — those three
            carry the full report beside `error`.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControlPrivate"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/CleanupCronError"
                  - $ref: "#/components/schemas/CleanupCronFailedRun"
              examples:
                sweepThrew:
                  value:
                    ok: false
                    error: cleanup_failed
                warnFailed:
                  value:
                    ok: false
                    reason: cron
                    expired: 0
                    warned: 0
                    emailed: 0
                    claimed: 2
                    outcomes:
                      cleaned_up: 2
                      staged_shed: 0
                      rescheduled: 0
                      lease_lost: 0
                      version_changed: 0
                      failed: 0
                      unsettled: 0
                    rpcFailures: 0
                    durationMs: 912
                    error: warning_failed

  /api/home-insight:
    post:
      tags: [Insights]
      operationId: streamHomeInsight
      summary: Stream the personal Focus card's claim line
      description: >-
        One sentence of at most eight words, no digits, streamed as plain
        text from `getLLMStream()`. Every figure the prompt uses is
        recomputed server-side for the signed-in player; no body is read.
        Answers 204 when the player has no matches, rather than inventing a
        claim. A stream that fails after the first byte errors the body, not
        the status.
      responses:
        "200":
          $ref: "#/components/responses/InsightStream"
        "204":
          description: No matches recorded, so there is nothing to claim.
        "401":
          $ref: "#/components/responses/TextUnauthorized"
        "500":
          $ref: "#/components/responses/InsightLlmError"

  /api/team-insight:
    post:
      tags: [Insights]
      operationId: streamTeamInsight
      summary: Stream Team Home's Focus card claim line
      description: >-
        Team Home's counterpart to `/api/home-insight`, about the ACTIVE team
        workspace's squad rather than the viewer. Same contract: one
        sentence, plain-text stream, 204 when there is no analysed dual
        match or no insight to make. The program comes from the workspace
        cookie through `getWorkspaceContext()`; no body is read.
      responses:
        "200":
          $ref: "#/components/responses/InsightStream"
        "204":
          description: No analysed dual match this season, so there is nothing to claim.
        "401":
          $ref: "#/components/responses/TextUnauthorized"
        "404":
          description: The active workspace is personal, which has no squad.
          content:
            text/plain:
              schema:
                type: string
              example: Not a program
        "500":
          $ref: "#/components/responses/InsightLlmError"

  /api/admin/uploads/file:
    get:
      tags: [Admin uploads]
      operationId: getAdminMatchFileStatus
      summary: Read an admin-console file submission's durable status
      description: >-
        Admin only (`users.is_admin`), and only for an operation this admin
        started. The wizard reads it after a submit whose answer was lost.
      parameters:
        - name: operationId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          example: 8a9b0c1d-2e3f-4a5b-8c6d-7e8f9a0b1c2d
        - name: itemId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          example: 9b0c1d2e-3f4a-4b6c-9d7e-8f9a0b1c2d3e
      responses:
        "200":
          $ref: "#/components/responses/AdminFileStatus"
        "400":
          description: The ids are malformed, the operation is not this admin's, or nothing was submitted for it.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminRefusal"
              examples:
                invalid:
                  value:
                    ok: false
                    message: Invalid operation.
                unavailable:
                  value:
                    ok: false
                    message: This operation is unavailable.
                none:
                  value:
                    ok: false
                    message: No file has been submitted for this operation yet.
        "401":
          $ref: "#/components/responses/AdminUnauthenticated"
        "403":
          $ref: "#/components/responses/AdminForbidden"
    post:
      tags: [Admin uploads]
      operationId: submitAdminMatchFile
      summary: Submit a SwingVision .xlsx from the admin console
      description: >-
        Validates and parses the workbook, stores it under
        `_admin-console/{operationId}/{itemId}/{sha256}.xlsx` (never
        overwritten), records it through `admin_submit_match_file` and, when
        the attempt is `queued`, dispatches `process-match`. Players, score
        and actor come from the file and the session, never the form. Either
        a prepared match (`matchId` + `fingerprint`) or a new one (`playerId`,
        `date`, `matchType`, `courtType`). Retry-safe on the same operation
        and file. Answers the durable status, as GET does.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/AdminFileSubmitRequest"
            encoding:
              file:
                contentType: application/vnd.openxmlformats-officedocument.spreadsheetml.sheet
            example:
              file: (binary)
              operationId: 8a9b0c1d-2e3f-4a5b-8c6d-7e8f9a0b1c2d
              itemId: 9b0c1d2e-3f4a-4b6c-9d7e-8f9a0b1c2d3e
              programId: 2d3e4f5a-6b7c-4d8e-9f0a-1b2c3d4e5f6a
              playerId: 1c2d3e4f-5a6b-4c7d-8e9f-0a1b2c3d4e5f
              date: "2026-09-12"
              matchType: Singles
              courtType: Outdoor Hard Court
      responses:
        "200":
          $ref: "#/components/responses/AdminFileStatus"
        "400":
          description: >-
            An unknown or repeated form field, a malformed id, a workbook that
            fails validation or parsing, or a refusal from
            `admin_submit_match_file`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminRefusal"
              examples:
                fields:
                  value:
                    ok: false
                    message: Invalid file submission.
                ids:
                  value:
                    ok: false
                    message: Provide a valid program, operation, athlete or prepared match, and file.
                players:
                  value:
                    ok: false
                    message: The export needs named players and complete numeric set scores.
                existing:
                  summary: Refused by the RPC (existing-analysis)
                  value:
                    ok: false
                    message: This match already has analysis or an attached file.
                store:
                  value:
                    ok: false
                    message: Could not store this file safely. Retry with the same file and operation.
        "401":
          $ref: "#/components/responses/AdminUnauthenticated"
        "403":
          $ref: "#/components/responses/AdminForbidden"
        "500":
          description: >-
            The handler threw after the file may already have been stored and
            recorded. The wizard matches this exact sentence and checks the
            operation's status (GET) before any retry.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminRefusal"
              example:
                ok: false
                message: Submission response was interrupted. Check this operation before retrying with the same file.

  /api/admin/uploads/video:
    post:
      tags: [Admin uploads]
      operationId: submitAdminMatchVideo
      summary: Reserve an admin-console match video for analysis
      description: >-
        Admin only. Validates the trim window and the three vendor answers,
        builds the vendor request to prove it would be accepted, and reserves
        the operation through `admin_submit_match_video`, which returns the
        match and job the upload then targets (`/api/splitstep/upload-url`,
        then `/api/splitstep/jobs`). For a prepared match (`matchId` +
        `fingerprint`) the players, score and details come from the recorded
        match and must not be sent; otherwise `playerId`, `opponentName`,
        `score`, `date`, `courtType` and `bestOf` describe a new singles
        match. Unknown keys are refused.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdminVideoSubmitRequest"
            examples:
              newMatch:
                summary: A new singles match
                value:
                  operationId: 8a9b0c1d-2e3f-4a5b-8c6d-7e8f9a0b1c2d
                  itemId: 9b0c1d2e-3f4a-4b6c-9d7e-8f9a0b1c2d3e
                  programId: 2d3e4f5a-6b7c-4d8e-9f0a-1b2c3d4e5f6a
                  playerId: 1c2d3e4f-5a6b-4c7d-8e9f-0a1b2c3d4e5f
                  opponentName: Sam Chen
                  score:
                    player1: [6, 6]
                    player2: [3, 4]
                  date: "2026-09-12"
                  courtType: Outdoor Hard Court
                  bestOf: 3
                  startSeconds: 42.5
                  endSeconds: 5224.5
                  initialTopPlayerIsPlayer1: true
                  adScoring: true
                  fixedCamera: true
              preparedMatch:
                summary: A recorded match, identified by its fingerprint
                value:
                  operationId: 8a9b0c1d-2e3f-4a5b-8c6d-7e8f9a0b1c2d
                  itemId: 9b0c1d2e-3f4a-4b6c-9d7e-8f9a0b1c2d3e
                  programId: 2d3e4f5a-6b7c-4d8e-9f0a-1b2c3d4e5f6a
                  matchId: 5b0f4c1e-8a7d-4b43-9f7e-1c2d3e4f5a6b
                  fingerprint: 0f1e2d3c4b5a69788796a5b4c3d2e1f0
[...]
